{% extends '::base.html.twig' %} {% block body -%}

    <h2>{{ 'user.edit.title' | trans }}</h2>

    <div class="row">
        <div class="col-md-8">


            <h3>
                {{ entity.firstname }} <span class="semi-bold">{{ entity.lastname }}</span>
            </h3>


            {{ form_start(edit_form) }}


            {{ form_row(edit_form.firstname) }}

            {{ form_row(edit_form.lastname) }}

            {{ form_row(edit_form.photo) }}


            <!-- HIDDEN FIELDS FOR CHROME WRONG AUTOFILL -->
            <input style="display:none" type="text" name="fakeusernameremembered"/>
            <input style="display:none" type="password" name="fakepasswordremembered"/>

            {{ form_row(edit_form.email) }}

            {{ form_label(edit_form.hiredate) }}
            {{ form_widget(edit_form.hiredate) }}

            {{ form_label(edit_form.datelastpromotion) }}
            {{ form_widget(edit_form.datelastpromotion) }}

            {{ form_row(edit_form.supervisor) }}
            {{ form_row(edit_form.jobtitle) }}
            {{ form_row(edit_form.team) }}
            {{ form_label(edit_form.enabled) }}  {{ form_widget(edit_form.enabled) }}

            {% if is_granted('ROLE_SUPER_ADMIN') %}

                {{ form_row(edit_form.organization) }}


            {% endif %}

            {{ form_row(edit_form.language) }}

            {{ form_row(edit_form.roles) }}


            <p>

                {{ form_widget(edit_form.submit) }}

                <a href="{{ path('user') }}" class="btn btn-default btn-cons" type="button"> {{ 'button.back' | trans }} </a>

            </p>


            {{ form_end(edit_form) }}{{ form(delete_form) }}


        </div>
    </div>



{% endblock %}



