{% extends '::base.html.twig' %} {% block body -%}
    <style type="text/css">
        span.twitter-typeahead {
            width: 100%;

        }
        .input-group span.twitter-typeahead {
            display: block !important;
        }
        .input-group span.twitter-typeahead .tt-dropdown-menu {
            top: 32px !important;
        }
        .input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
            top: 44px !important;
        }
        .input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
            top: 28px !important;
        }

        .typeahead {
            background-color: #FFFFFF;
        }
        .tt-query {
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        }
        .tt-hint {
            color: #999999;
        }
        .tt-menu {
            background-color: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            margin-top: 12px;
            padding: 8px 0;
            width: 100%;
        }
        .tt-suggestion {
            line-height: 24px;
            padding: 3px 20px;
        }
        .tt-suggestion {

        }

        .tt-suggestion:hover {
            cursor:pointer;
            background-color: #0097CF;
            color: #FFFFFF;
        }

        .scrollable-dropdown-menu .tt-menu {
            max-height: 160px;
            overflow-y: auto;
        }



    </style>

    <h2>{{ 'user.edit.title' | trans }}</h2>

    <div class="row">
        <div class="col-md-8">


            <h3>
                {{ entity.firstname }} <span class="semi-bold">{{ entity.lastname }}</span>
            </h3>


            {{ form_start(edit_form) }}


            {{ form_row(edit_form.firstname) }}

            {{ form_row(edit_form.lastname) }}

            {{ form_row(edit_form.photo) }}


            <!-- HIDDEN FIELDS FOR CHROME WRONG AUTOFILL -->
            <input style="display:none" type="text" name="fakeusernameremembered"/>
            <input style="display:none" type="password" name="fakepasswordremembered"/>

            {{ form_row(edit_form.email) }}

            {{ form_label(edit_form.hiredate) }}
            {{ form_widget(edit_form.hiredate) }}

            {{ form_label(edit_form.datelastpromotion) }}
            {{ form_widget(edit_form.datelastpromotion) }}

            {{ form_row(edit_form.supervisor) }}
            {{ form_row(edit_form.jobtitle, { 'attr': {'class': 'typeahead'} }) }}
            {{ form_row(edit_form.team) }}
            {{ form_label(edit_form.enabled) }}  {{ form_widget(edit_form.enabled) }}

            {% if is_granted('ROLE_SUPER_ADMIN') %}

                {{ form_row(edit_form.organization) }}


            {% endif %}

            {{ form_row(edit_form.language) }}

            {{ form_row(edit_form.roles) }}


            <p>

                {{ form_widget(edit_form.submit) }}

                <a href="{{ path('user') }}" class="btn btn-default btn-cons" type="button"> {{ 'button.back' | trans }} </a>

            </p>


            {{ form_end(edit_form) }}{{ form(delete_form) }}


        </div>
    </div>



{% endblock %}

{% block javascripts -%}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/typeahead.js/dist/typeahead.bundle.min.js') }}"></script>
    <script>
        var jobtitles = {{ jobtitles | json_encode() | raw}};
        var titles = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            identify: function(obj) { return obj; },
            local: {{ jobtitles | json_encode() | raw}}
        });

        function nflTeamsWithDefaults(q, sync) {
            if (q === '') {
                sync(jobtitles);
            }

            else {
                titles.search(q, sync);
            }
        }

        $('.typeahead').typeahead( {
                    minLength: 0,
                    highlight: true
                },
                {
                    limit: 40,
                    name: 'titles',
                    source: nflTeamsWithDefaults
                });
    </script>
{% endblock %}



