{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/vendor/datatables/media/css/dataTables.bootstrap.min.css') }}" rel="stylesheet"
          type="text/css" media="screen">
    <link href="{{ asset('assets/css/select.bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="screen">

{% endblock %}

{% block body -%}

    <h2>{{ "user.index.title" | trans }}</h2>

    {% for flashMessage in app.session.flashbag.get('warning') %}

        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage }}
        </div>

    {% endfor %}

    <div class="row">
        <div class="col-md-3">
            <div>
                <h3>{{ 'user.index.title2' | trans }}</h3>

                <p>{{ 'user.templateexplanation' | trans }}<p>

                <p>
                    <a href="{{ path('user_excel') }}">{{ 'user.templatedownload' | trans }}</a>
                </p>
            </div>
            {{ form_start(formtemplate) }}
            {{ form_widget(formtemplate) }}
            {{ form_end(formtemplate) }}
        </div>

        <div class="col-md-9">

            <h3>{{ 'user.index.title3' }}</h3>


            <table class="table" id="mytable">
                <thead>
                <tr>
                    <th>{{ 'user.firstname' | trans }}</th>
                    <th>{{ 'user.lastname' | trans }}</th>
                    <th>{{ 'user.status' | trans }}</th>
                    <th>{{ 'actions' | trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}

                    {% if entities == null %}
                        <p>There are no users!</p>
                    {% endif %}

                    <tr>
                        <td>{{ entity.firstname }}</td>
                        <td>{{ entity.lastname }}</td>
                        <td>{% if entity.enabled == 1 %}{{ 'user.enabled' | trans }}{% else %}{{ 'user.disabled' | trans }}{% endif %}</td>

                        <td>
                            <a href="{{ path('user_show', { 'id': entity.id }) }}" type="button"
                               class="btn btn-default btn-sm btn-small">{{ 'button.show' | trans }}</a>
                        </td>
                        <td>
                            <a href="{{ path('user_edit', { 'id': entity.id }) }}" type="button"
                               class="btn btn-default btn-sm btn-small">{{ 'button.edit' | trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            <a href="{{ path('user_new') }}" type="button" class="btn btn-primary btn-cons"> Create a new
                entry </a>


        </div>
    </div>


{% endblock %}

{% block javascripts -%}
    {{ parent() }}

    <script src="{{ asset('assets/vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables/media/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/dataTables.select.min.js') }}"></script>


    <script>

        $(document).ready(function(){
            $('#mytable').DataTable({
                "info":     false,
                "bLengthChange": false
            });
        });



    </script>
{% endblock %}





