{% extends '::base.html.twig' %} 

{% block body -%}

    <h2>{{ "user.index.title" | trans }}</h2>

    <div class="row">
        <div class="col-md-3">
            <div>
                <h3>{{ 'user.index.title2' | trans }}</h3>

                <p>{{ 'user.templateexplanation' | trans }}<p>

                <p>
                    {% if app.request.locale == 'nl' %}
                        {% set asset_url = asset('assets/excel/templatenederlands.xls') %}
                    {% else %}
                        {% set asset_url = asset('assets/excel/templateenglish.xls') %}
                    {% endif %}
                    <a href="{{ asset_url }}">{{ 'user.templatedownload' | trans }}</a>
                </p>
            </div>
            {{ form_start(formtemplate) }}
            {{ form_widget(formtemplate) }}
            {{ form_end(formtemplate) }}
        </div>

        <div class="col-md-9">

            <h3>{{ 'user.index.title3' }}</h3>


            <table class="table" id="table">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Status</th>
                    <th>Actions</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}

                    {% if entities == null %}
                        <p>There are no users!</p>
                    {% endif %}

                    <tr>
                        <td>{{ entity.firstname }}</td>
                        <td>{{ entity.lastname }}</td>
                        <td>{{ entity.userstatus }}</td>

                        <td>
                            <a href="{{ path('user_show', { 'id': entity.id }) }}" type="button"
                               class="btn btn-default btn-sm btn-small">show</a>
                        </td>
                        <td>
                            <a href="{{ path('user_edit', { 'id': entity.id }) }}" type="button"
                               class="btn btn-default btn-sm btn-small">edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            <a href="{{ path('user_new') }}" type="button" class="btn btn-primary btn-cons"> Create a new
                entry </a>


        </div>
    </div>


{% endblock %}





