{% extends '::base.html.twig' %} {% block body -%}

    <h2>{{ 'user.new.title' | trans }}</h2>

    <div class="row">
        <div class="col-md-6">
            {% for flashMessage in app.session.flashbag.get('danger') %}

                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>

            {% endfor %}

            {{ form_start(form) }}

            {{ form_row(form.firstname) }}

            {{ form_row(form.lastname) }}

            {{ form_row(form.email) }}

            {{ form_row(form.photo) }}

            {{ form_row(form.language) }}

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            {{ form_row(form.jobtitle) }}

            {{ form_row(form.team) }}

            {{ form_row(form.hiredate) }}

            {{ form_row(form.datelastpromotion) }}

        </div>
    </div>


    <div class="row">
        <div class="col-md-6">



            {{ form_row(form.supervisor) }}

            {{ form_row(form.roles) }}

            {{ form_row(form.enabled) }}


            <div class="buttons">

                {{ form_widget(form.submit) }}

                <a href="{{ path('user') }}" type="button"
                   class="btn btn-default">{{ 'button.back' | trans }}</a>

            </div>

            {{ form_end(form) }}


        </div>
    </div>



{% endblock %}
