{% extends '::base.html.twig' %} 

{% block body -%}
    <h2>{{ 'user.profile.title' | trans }}</h2>

    {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            {{ flashMessage }}
        </div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning') %}

        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            {{ flashMessage }}
        </div>

    {% endfor %}



    <div class="row">

        <div class="col-md-4">

            <h4>{{ 'user.profile.information' | trans }}</h4>


            <div class="panel panel-default">

                <div class="panel-body">

                    
                    {% if app.user.photoname != null %}

                    <p><img src="{{ app.request.basePath }}{{ vich_uploader_asset(app.user, 'photo') }}"
                            alt="{{ app.user.photoname }}" width="252px"/></p>

                    {% else %}

                        <p><img src="{{ app.request.basePath }}/images/users/placeholder.png"
                                alt="placeholder" width="252px"/></p>

                    {% endif %}


                    <table class="table borderless">

                        <tr>
                            <th>{{ 'user.profile.email' | trans }}</th>
                            <td>{{ app.user.email }}</td>
                        </tr>

                        <tr>
                            <th>{{ 'user.profile.jobtitle' | trans }}</th>
                            <td>{{ app.user.jobtitle }}</td>
                        </tr>

                        <tr>
                            <th>{{ 'user.profile.team' | trans }}</th>
                            <td>{{ app.user.team }}</td>
                        </tr>

                        <tr>
                            <th>{{ 'user.profile.supervisor' | trans }}</th>
                            <td>{{ app.user.supervisor }}</td>
                        </tr>

                        <tr>
                            <th>{{ 'user.profile.hiredate' | trans }}</th>
                            <td>{{ app.user.hiredate }}</td>
                        </tr>

                    </table>

                </div>

            </div>

        </div>

        <div class="col-md-offset-1 col-md-5">

            <h4>{{ 'user.profile.personalchange' | trans }}</h4>

            <div class="row">
                <div class="col-md-12">


                    {{ form_start(form) }}

                    {{ form_row(form.firstname) }}

                    {{ form_row(form.lastname) }}

                    {{ form_row(form.language) }}

                </div>
            </div>


            <h4>{{ 'user.profile.passwordchange' | trans }}</h4>

            <div class="row">
                <div class="col-md-12">

                    {{ form_row(form.oldpassword) }}

                    {{ form_row(form.newpassword) }}

                </div>
            </div>

            {{ form_widget(form.Save) }}


            {{ form_end(form) }}


        </div>

    </div>


{% endblock %}









