{% extends '::base.html.twig' %}

{% block body -%}
    <h2>{{ 'upload.new.title' | trans }}</h2>

    <div class="row">
        <div class="col-md-6">

            {{ form_start(form) }}

            {{ form_row(form.name) }}

            {{ form_row(form.uploadFile) }}

            {{ form_widget(form.submit) }}

            <a href="{{ path('upload') }}" type="button" class="btn btn-default">
                {{ 'button.back' | trans }}
            </a>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
