{% extends '::base.html.twig' %} {% block body -%}

    <h2>{{ "cdptemplate.edit.title" | trans }}</h2>

    <div class="row">
        <div class="col-md-12">


            {{ form(edit_form) }}

            <a href="{{ path('cdptemplate') }}" class="btn btn-default btn-cons" type="button">{{ "backbutton" | trans }}</a>

            {{ form(delete_form) }}


        </div>
    </div>


{% endblock %}
