{% extends '::base.html.twig' %} {% block body -%}
<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<div id="portlet-config" class="modal hide">
	<div class="modal-header">
		<button data-dismiss="modal" class="close" type="button"></button>
		<h3>Widget Settings</h3>
	</div>
	<div class="modal-body">Widget settings form goes here</div>
</div>
<div class="clearfix"></div>
<div class="container">
	<div class="content">

		<div class="page-title">
			<i class="icon-custom-left"></i>
			<h3>
				<span class="semi-bold">CDP Template</span>
			</h3>
		</div>
	
		<div class="row margin-top-50">
			<div class="col-md-12">

						<table class="table">
							<thead>
								<tr>
									<th>Date</th>
									<th>Organisation</th>
									<th>Language</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for entity in entities %}
								<tr>
									<td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif
										%}</td>
									<td>{% if(entity.organization != null) %} {{ entity.organization.name }} {% endif %}</td>
									<td>{{ entity.language }}</td>
									<td>
										<ul>
											<li><a
												href="{{ path('cdptemplate_show', { 'id': entity.id }) }}">show</a>
											</li>
											<li><a
												href="{{ path('cdptemplate_edit', { 'id': entity.id }) }}">edit</a>
											</li>
										</ul>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>



						<p>
							<a href="{{ path('cdptemplate_new') }}" type="button"
								class="btn btn-default btn-cons"> Create a new entry </a>
						</p>



			</div>
		</div>
	</div>
</div>

{% endblock %}
