<pdf>
    <dynamic-page page-size="a4-landscape">
        {% for entity in entities %}

            {% set cdptemplates = entity.templateversion.cdptemplates %}

            {% for template in cdptemplates %}

                {% if template.language == app.user.language %}

                    <h1>{{ template.mainTitle }}</h1>

                    <div width="40%">

                        <h2>{{ template.title1 }}</h2>

                        <p>{{ template.title1Description }}</p>

                        <table>
                            <tr>
                                <td>{{ template.name }}</td>
                                <td>{{ entity.feedbackcycle.user.firstname }} {{ entity.feedbackcycle.user.lastname }}</td>
                            </tr>

                            <tr>
                                <td>{{ template.supervisor }}</td>
                                <td>{{ entity.supervisor }}</td>
                            </tr>

                            <tr>
                                <td>{{ template.dateDiscussion }}</td>
                                <td>{{ entity.feedbackdate }}</td>
                            </tr>

                            <tr>
                                <td>{{ template.team }}</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>{{ template.function }}</td>
                                <td>{{ entity.jobtitle }}</td>
                            </tr>
                        </table>

                    </div>

                    <div>

                        <h2>{{ template.title2 }}</h2>

                        <p>{{ template.title2Description }}</p>

                        <table>
                            <tr>
                                <td>{{ template.table2Col1 }}</td>
                                <td>{{ template.table2Col2 }}</td>
                                <td>{{ template.table2Col3 }}</td>
                                <td>{{ template.table2Col4 }}</td>
                                <td>{{ template.table2Col5 }}</td>
                                <td>{{ template.table2Col6 }}</td>
                            </tr>

                            <tr>
                                <td>{{ template.table2Col1Descr }}</td>
                                <td>{{ template.table2Col2Descr }}</td>
                                <td>{{ template.table2Col3Descr }}</td>
                                <td>{{ template.table2Col4Descr }}</td>
                                <td>{{ template.table2Col5Descr }}</td>
                                <td>{{ template.table2Col6Descr }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.corequality1Why }}</td>
                                <td>{{ entity.challengeWhy1 }}</td>
                                <td>{{ entity.pitfall1 }}</td>
                                <td>{{ entity.challengeHow1 }}</td>
                                <td>{{ entity.challengeSuccess1 }}</td>
                                <td>{{ entity.challengeNeeds1 }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.corequality2Why }}</td>
                                <td>{{ entity.challengeWhy2 }}</td>
                                <td>{{ entity.pitfall2 }}</td>
                                <td>{{ entity.challengeHow2 }}</td>
                                <td>{{ entity.challengeSuccess2 }}</td>
                                <td>{{ entity.challengeNeeds2 }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.corequality3Why }}</td>
                                <td>{{ entity.challengeWhy3 }}</td>
                                <td>{{ entity.pitfall3 }}</td>
                                <td>{{ entity.challengeHow3 }}</td>
                                <td>{{ entity.challengeSuccess3 }}</td>
                                <td>{{ entity.challengeNeeds3 }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.corequality4Why }}</td>
                                <td>{{ entity.challengeWhy4 }}</td>
                                <td>{{ entity.pitfall4 }}</td>
                                <td>{{ entity.challengeHow4 }}</td>
                                <td>{{ entity.challengeSuccess4 }}</td>
                                <td>{{ entity.challengeNeeds4 }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.corequality5Why }}</td>
                                <td>{{ entity.challengeWhy5 }}</td>
                                <td>{{ entity.pitfall5}}</td>
                                <td>{{ entity.challengeHow5 }}</td>
                                <td>{{ entity.challengeSuccess5 }}</td>
                                <td>{{ entity.challengeNeeds5 }}</td>
                            </tr>


                        </table>


                    </div>

                    <div>

                        <h2>{{ template.title3 }}</h2>

                        <p>{{ template.title3Description }}</p>

                        <h3>{{ template.table3Title1 }}</h3>

                        <table>

                            <tr>
                                <td>{{ template.table3Col1 }}</td>
                                <td>{{ template.table3Col2 }}</td>
                                <td>{{ template.table3Col3 }}</td>
                                <td>{{ template.table3Col4 }}</td>
                            </tr>

                            <tr>
                                <td>{{ template.table3Col1Descr }}</td>
                                <td>{{ template.table3Col2Descr }}</td>
                                <td>{{ template.table3Col3Descr }}</td>
                                <td>{{ template.table3Col4Descr }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.developmentneeds.task1 }}</td>
                                <td>{{ entity.taskhow1 }}</td>
                                <td>{{ entity.tasksucces1 }}</td>
                                <td>{{ entity.taskneeds1 }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.developmentneeds.task2 }}</td>
                                <td>{{ entity.taskhow2 }}</td>
                                <td>{{ entity.tasksucces2 }}</td>
                                <td>{{ entity.taskneeds2 }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.developmentneeds.task3 }}</td>
                                <td>{{ entity.taskhow3 }}</td>
                                <td>{{ entity.tasksucces3 }}</td>
                                <td>{{ entity.taskneeds3 }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.developmentneeds.task4 }}</td>
                                <td>{{ entity.taskhow4 }}</td>
                                <td>{{ entity.tasksucces4 }}</td>
                                <td>{{ entity.taskneeds4 }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.developmentneeds.task5 }}</td>
                                <td>{{ entity.taskhow5 }}</td>
                                <td>{{ entity.tasksucces5 }}</td>
                                <td>{{ entity.taskneeds5 }}</td>
                            </tr>

                        </table>

                        <h3>{{ template.table3Title2 }}</h3>

                        <table>

                            <tr>
                                <td>{{ template.table3Col1 }}</td>
                                <td>{{ template.table3Col2 }}</td>
                                <td>{{ template.table3Col3 }}</td>
                                <td>{{ template.table3Col4 }}</td>
                            </tr>

                            <tr>
                                <td>{{ template.table3Col1 }}</td>
                                <td>{{ template.table3Col2 }}</td>
                                <td>{{ template.table3Col3 }}</td>
                                <td>{{ template.table3Col4 }}</td>
                            </tr>



                            <tr>
                                <td>{{ entity.developmentneeds.skill1 }}</td>
                                <td>{{ entity.skillshow1 }}</td>
                                <td>{{ entity.skillssuccess1 }}</td>
                                <td>{{ entity.skillsneeds1 }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.developmentneeds.skill2 }}</td>
                                <td>{{ entity.skillshow2 }}</td>
                                <td>{{ entity.skillssucces2 }}</td>
                                <td>{{ entity.skillsneeds2 }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.developmentneeds.skill3 }}</td>
                                <td>{{ entity.skillshow3 }}</td>
                                <td>{{ entity.skillssucces3 }}</td>
                                <td>{{ entity.skillsneeds3 }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.developmentneeds.skill4 }}</td>
                                <td>{{ entity.skillshow4 }}</td>
                                <td>{{ entity.skillssucces4 }}</td>
                                <td>{{ entity.skillsneeds4 }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.developmentneeds.skill5 }}</td>
                                <td>{{ entity.skillshow5 }}</td>
                                <td>{{ entity.skillssucces5 }}</td>
                                <td>{{ entity.skillsneeds5 }}</td>
                            </tr>


                        </table>

                        <h3>{{ template.table3Title3 }}</h3>

                        <table>

                            <tr>
                                <td>{{ template.table3Col1 }}</td>
                                <td>{{ template.table3Col2 }}</td>
                                <td>{{ template.table3Col3 }}</td>
                                <td>{{ template.table3Col4 }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.developmentneeds.organizationcompetence1 }}</td>
                                <td>{{ entity.developmentneeds.organizationdescription1 }}</td>

                                <td>{{ entity.organizationhow1 }}</td>
                                <td>{{ entity.organizationsuccess1 }}</td>
                                <td>{{ entity.organizationneeds1 }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.developmentneeds.organizationcompetence2 }}</td>
                                <td>{{ entity.developmentneeds.organizationdescription2 }}</td>
                                <td>{{ entity.organizationhow2 }}</td>
                                <td>{{ entity.organizationsuccess2 }}</td>
                                <td>{{ entity.organizationneeds2 }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.developmentneeds.organizationcompetence3 }}</td>
                                <td>{{ entity.developmentneeds.organizationdescription3 }}</td>
                                <td>{{ entity.organizationhow3 }}</td>
                                <td>{{ entity.organizationsuccess3 }}</td>
                                <td>{{ entity.organizationneeds3 }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.developmentneeds.organizationcompetence4 }}</td>
                                <td>{{ entity.developmentneeds.organizationdescription4 }}</td>
                                <td>{{ entity.organizationhow4 }}</td>
                                <td>{{ entity.organizationsuccess4 }}</td>
                                <td>{{ entity.organizationneeds4 }}</td>
                            </tr>

                            <tr>
                                <td>{{ entity.developmentneeds.organizationcompetence5 }}</td>
                                <td>{{ entity.developmentneeds.organizationdescription5 }}</td>
                                <td>{{ entity.organizationhow5 }}</td>
                                <td>{{ entity.organizationsuccess5 }}</td>
                                <td>{{ entity.organizationneeds5 }}</td>
                            </tr>


                        </table>

                    </div>

                    <div>

                        <h2>{{ template.title4 }}</h2>

                        <p>{{ template.question1 }}</p>

                        <p>{{ entity.careerobjective }}</p>

                        <h2>{{ template.title5 }}</h2>

                        <p>{{ template.question2 }}</p>

                        <p>{{ entity.additionalinformation }}</p>

                    </div>

                    <div>
                        {{ template.supervisorComment }}
                    </div>

                    <div>
                        {{ template.feedback }}
                    </div>







                {% endif %}

            {% endfor %}



        {% endfor %}
    </dynamic-page>
</pdf>