{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/vendor/datatables/media/css/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('assets/css/select.bootstrap.min.css')}}" rel="stylesheet" type="text/css" media="screen">

{% endblock %}
{% block body -%}
<style>
    .pie-legend li span{
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
    }

    .pie-legend {
        list-style-type: none;
    }

    .inputcheck:hover, #selectallbox:hover  {
        cursor:pointer;
    }
</style>
    <h3>{{ 'hr.dashboard.title' | trans }}</h3>
    <div class="row">
<div class="col-lg-3 col-md-4">
    {{ form_start(form) }}
    
    {{ form_widget(form) }}
    
    {{ form_end(form) }}
</div>
    <div class="col-lg-6 col-md-6" >
        <h4>{{ 'dashboard.charttitle' | trans }}</h4>
        <canvas id="countChart"></canvas>
        <div id="legend"></div>
    </div>
    </div>
<div class="row">
    <div id="result"></div>
</div>
{% endblock %}

{%  block javascripts -%}
    {{ parent() }}

    <script src="{{ asset('assets/vendor/Chart.js/Chart.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables/media/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/dataTables.select.min.js') }}"></script>


    <script>
        var teller =0;
        var table;
        var nederlands= {
            "sProcessing": "Bezig...",
            "sLengthMenu": "_MENU_ resultaten weergeven",
            "sZeroRecords": "Geen resultaten gevonden",
            "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
            "sInfoEmpty": "Geen resultaten om weer te geven",
            "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
            "sInfoPostFix": "",
            "sSearch": "Zoeken:",
            "sEmptyTable": "Geen resultaten aanwezig in de tabel",
            "sInfoThousands": ".",
            "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
            "oPaginate": {
                "sFirst": "Eerste",
                "sLast": "Laatste",
                "sNext": "Volgende",
                "sPrevious": "Vorige"
            }
        }
        var english = {
            "sEmptyTable":     "No data available in table",
            "sInfo":           "Showing _START_ to _END_ of _TOTAL_ entries",
            "sInfoEmpty":      "Showing 0 to 0 of 0 entries",
            "sInfoFiltered":   "(filtered from _MAX_ total entries)",
            "sInfoPostFix":    "",
            "sInfoThousands":  ",",
            "sLengthMenu":     "Show _MENU_ entries",
            "sLoadingRecords": "Loading...",
            "sProcessing":     "Processing...",
            "sSearch":         "Search:",
            "sZeroRecords":    "No matching records found",
            "oPaginate": {
                "sFirst":    "First",
                "sLast":     "Last",
                "sNext":     "Next",
                "sPrevious": "Previous"
            },
            "oAria": {
                "sSortAscending":  ": activate to sort column ascending",
                "sSortDescending": ": activate to sort column descending"
            }
        }
        var italiano = {
            "sEmptyTable":     "Nessun dato presente nella tabella",
            "sInfo":           "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty":      "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered":   "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix":    "",
            "sInfoThousands":  ",",
            "sLengthMenu":     "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing":     "Elaborazione...",
            "sSearch":         "Cerca:",
            "sZeroRecords":    "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst":      "Inizio",
                "sPrevious":   "Precedente",
                "sNext":       "Successivo",
                "sLast":       "Fine"
            },
            "oAria": {
                "sSortAscending":  ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        }
        function getcycles(){
            $.ajax({url: Routing.generate('hr_getcycles', {generalcycleid:$('#form_generalcycle').val(), cycle: $('#form_cycle').val()}),
                success: function(result){
                    drawchart();
                    $("#result").html(result);
                    var language;
                    var cleartext;
                    var exporttext;
                    var mailtext;
                    var exceltext;
                    switch($('#thelocale').val()) {
                        case 'en':
                            language = english;
                            cleartext = 'Clear';
                            exporttext = 'Export to PDF';
                            mailtext = 'Send reminder mail';
                            exceltext = 'Feedback Excel';
                            break;
                        case 'nl':
                            language = nederlands;
                            cleartext = 'Wissen';
                            exporttext = 'Naar PDF exporteren';
                            mailtext = 'Herinneringsmail sturen';
                            break;
                        case 'it':
                            language = italiano;
                            cleartext = 'Pulire';
                            exporttext = 'Esporta in PDF';
                            mailtext = 'Inviare promemoria di posta';
                            break;
                    }

                    table = $('#datatable').DataTable({
                        "language":language,
                        "order": [],
                        "columnDefs": [{
                            "targets"  : 'no-sort',
                            "orderable": false,
                            "searchable": false
                        }, {"targets": [0],
                            "visible": false
                        }],
                        select: {
                            style:    'multi'
                        }
                    });
                    table.select.selector( 'td:first-child input' );

                    var exportopdfbutton = $('<button class="btn btn-primary">'+ exporttext + '</button>');

                    $(exportopdfbutton).click(function(){
                        var array = [];
                        var indexes = table.rows({ selected: true }).data().toArray();
                        $.each(indexes , function(i, val) {
                            array.push(val[0]);
                        });
                        var myJsonString = JSON.stringify(array);
                        var form = $('#form_cycle').val();
                        $.ajax({url: Routing.generate('hr_pdf', {cycle: form}),
                            data: {ids: myJsonString},
                            success: function(result){
                                var blob=new Blob([result]);
                                var link=document.createElement('a');
                                link.href=window.URL.createObjectURL(blob);
                                link.download=form + new Date() +".pdf";
                                link.click();

                            }});
                    });

                    $('.inputcheck').change(function(){
                        var rowindex = $(this).closest('tr')[0].rowIndex - 1;
                        if ($(this).is(':checked')){
                            table.rows(rowindex).select();
                        }else {
                            table.rows(rowindex).deselect();
                        }

                    });

                    $('#selectallbox').click(function(){
                        if (teller == 0){
                            table.rows().select();
                            table.$('.inputcheck').prop('checked', true);
                            teller++;
                        }else {
                            table.rows().deselect();
                            table.$('.inputcheck').prop('checked', false);
                            teller = 0;
                        }
                    });

                    var mailbutton = $('<button class="btn btn-primary">' + mailtext + '</button>');

                    $(mailbutton).click(function(){
                        var array = [];
                        var indexes = table.rows({ selected: true }).data().toArray();
                        $.each(indexes , function(i, val) {
                            array.push(val[0]);
                        });
                        var myJsonString = JSON.stringify(array);
                        var form = $('#form_cycle').val();
                        $.ajax({url: Routing.generate('hr_remindermail', {cycle: form}),
                            data: {ids: myJsonString},
                            success: function(result){

                            }});
                    });



                    var clearSearch = $('<button class="btn btn-default" style="margin-left:5px;cursor:pointer;">' + cleartext +'</button>');
                    $(clearSearch).click( function ()
                    {
                        table.search('');
                        table.draw();
                    });
                    $('#datatable_filter').append(clearSearch);

                    $('#datatable_length').html(exportopdfbutton);
                    $('#datatable_length').append(' ');
                    $('#datatable_length').append(mailbutton);

                }});
        }

        function getforms(){
            $.ajax({url: Routing.generate('hr_getforms', {generalcycleid:$('#form_generalcycle').val()}),
                success: function(result){
                    var select = $('#form_cycle');
                    select.empty().append('<option value="cdp">Cdp ' + result[0] + '</option>');
                    if (result[1] != 'empty'){
                        select.append('<option value="midyear">Midyear ' + result[1] + '</option>');
                    }

                    select.append('<option value="endyear">Yearend ' + result[2] + '</option>');

                }});
        }

        function drawchart(){
            $.ajax({url: Routing.generate('hr_getformstatuscount', {generalcycleid:$('#form_generalcycle').val(), cycle: $('#form_cycle').val()}),
                success: function(result){
                    var data = [
                        {
                            value: result[0].count,
                            color:"#008C48",
                            highlight: "#7AC36A",
                            label: result[0].name
                        },
                        {
                            value: result[1].count,
                            color: "#F47D23",
                            highlight: "#FAA75B",
                            label: result[1].name

                        },
                        {
                            value: result[2].count,
                            color: "#185AA9",
                            highlight: "#5A9BD4",
                            label: result[2].name
                        },
                        {
                            value: result[3].count,
                            color:"#CE7058",
                            highlight: "#7AC36A",
                            label: result[3].name
                        },
                        {
                            value: result[4].count,
                            color: "#B43894",
                            highlight: "#D77FB4",
                            label: result[4].name

                        },
                        {
                            value: result[5].count,
                            color: "#010202",
                            highlight: "#737373",
                            label: result[5].name
                        },
                        {
                            value: result[6].count,
                            color:"#662C91",
                            highlight: "#9E67AB",
                            label: result[6].name
                        },
                        {
                            value: result[7].count,
                            color: "#EE2E2F",
                            highlight: "#F15A60",
                            label: result[7].name

                        },
                        {
                            value: result[8].count,
                            color: "#F7EC17",
                            highlight: "#FEFF99",
                            label: result[8].name
                        }
                    ]
                    var ctx = $("#countChart").get(0).getContext("2d");
                    var myPieChart = new Chart(ctx).Pie(data);
                    var legendchart = '<ul class="pie-legend">'
                    $.each(data, function( index, object ) {
                        if (object.value > 0){
                            legendchart += '<li><span style=\"background-color:' + object.color + '"></span>' + object.label + '</li>';
                        }
                    });
                    legendchart += '</ul>';
                    $('#legend').html(legendchart);

                    $('#countChart').click(function(evt){
                        var activePoints = myPieChart.getSegmentsAtEvent(evt);

                        table.search(activePoints[0].label);
                        table.draw();
                    });

                }});


        }

        $(function() {
            Chart.defaults.global.responsive = true;
            getforms();
            getcycles();
            $('#form_generalcycle').change(function(){
                getforms();
                getcycles();

            });
            $('#form_cycle').change(function(){
                getcycles();
            });
        });

    </script>
{% endblock %}


