{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/vendor/datatables/media/css/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css" media="screen">
{% endblock %}
{% block body -%}
<style>
    .pie-legend li span{
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
    }

    .pie-legend {
        list-style-type: none;
    }
</style>
    <h3>HR Dashboard</h3>
<div class="col-lg-3 col-md-4">
    {{ form_start(form) }}
    
    {{ form_widget(form) }}
    
    {{ form_end(form) }}
</div>
    <div class="col-lg-6 col-md-6" >
        <h4>Formstatus</h4>
        <canvas id="countChart"></canvas>
        <div id="legend"></div>
    </div>
<div>
    <div id="result"></div>
</div>
{% endblock %}

{%  block javascripts -%}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/Chart.js/Chart.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables/media/js/dataTables.bootstrap.min.js') }}"></script>

    <script>
        var loadcount = 0;
        function getcycles(){
            $.ajax({url: Routing.generate('hr_getcycles', {generalcycleid:$('#form_generalcycle').val(), cycle: $('#form_cycle').val()}),
                success: function(result){
                    drawchart();
                    $("#result").html(result);
                    $('#datatable').DataTable({
                        "order": [],
                        "columnDefs": [ {
                            "targets"  : 'no-sort',
                            "orderable": false
                        }]
                    });
                }});
        }

        function getforms(){
            $.ajax({url: Routing.generate('hr_getforms', {generalcycleid:$('#form_generalcycle').val()}),
                success: function(result){
                    var select = $('#form_cycle');
                    select.empty().append('<option value="cdp">Cdp ' + result[0] + '</option>');
                    if (result[1] != 'empty'){
                        select.append('<option value="midyear">Midyear ' + result[1] + '</option>');
                    }

                    select.append('<option value="endyear">Yearend ' + result[2] + '</option>');

                }});
        }

        function drawchart(){
            $.ajax({url: Routing.generate('hr_getformstatuscount', {generalcycleid:$('#form_generalcycle').val(), cycle: $('#form_cycle').val()}),
                success: function(result){
                    var data = [
                        {
                            value: result[0].count,
                            color:"#008C48",
                            highlight: "#7AC36A",
                            label: result[0].name
                        },
                        {
                            value: result[1].count,
                            color: "#F47D23",
                            highlight: "#FAA75B",
                            label: result[1].name

                        },
                        {
                            value: result[2].count,
                            color: "#185AA9",
                            highlight: "#5A9BD4",
                            label: result[2].name
                        },
                        {
                            value: result[3].count,
                            color:"#CE7058",
                            highlight: "#7AC36A",
                            label: result[3].name
                        },
                        {
                            value: result[4].count,
                            color: "#B43894",
                            highlight: "#D77FB4",
                            label: result[4].name

                        },
                        {
                            value: result[5].count,
                            color: "#010202",
                            highlight: "#737373",
                            label: result[5].name
                        },
                        {
                            value: result[6].count,
                            color:"#662C91",
                            highlight: "#9E67AB",
                            label: result[6].name
                        },
                        {
                            value: result[7].count,
                            color: "#EE2E2F",
                            highlight: "#F15A60",
                            label: result[7].name

                        },
                        {
                            value: result[8].count,
                            color: "#F7EC17",
                            highlight: "#FEFF99",
                            label: result[8].name
                        }
                    ]
                    var ctx = $("#countChart").get(0).getContext("2d");
                    var myPieChart = new Chart(ctx).Pie(data);
                    if (loadcount == 0) {


                        var legend = myPieChart.generateLegend();
                        $('#legend').html(legend);
                    }
                    loadcount++;
                }});


        }

        $(function() {
            Chart.defaults.global.responsive = true;
            getforms();
            getcycles();
            $('#form_generalcycle').change(function(){
                getforms();
                getcycles();

            });
            $('#form_cycle').change(function(){
                getcycles();
            });
        });

    </script>

{% endblock %}


