{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/vendor/datatables/media/css/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css" media="screen">
{% endblock %}
{% block body -%}
<style>
    .pie-legend li span{
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
    }

    .pie-legend {
        list-style-type: none;
    }
</style>
    <h3>HR Dashboard</h3>
<div class="col-lg-3 col-md-4">
    {{ form_start(form) }}
    
    {{ form_widget(form) }}
    
    {{ form_end(form) }}
</div>
    <div class="col-lg-4 col-md-6" id="chart">
        <h4>Formstatus</h4>
        <canvas id="countChart"></canvas>
    </div>
<div>
    <div id="result"></div>
</div>
{% endblock %}

{%  block javascripts -%}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/Chart.js/Chart.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables/media/js/dataTables.bootstrap.min.js') }}"></script>

    <script>
        function getcycles(){
            $.ajax({url: Routing.generate('hr_getcycles', {generalcycleid:$('#form_generalcycle').val(), cycle: $('#form_cycle').val()}),
                success: function(result){
                    $("#result").html(result);
                    $('#datatable').DataTable({
                        "order": [],
                        "columnDefs": [ {
                            "targets"  : 'no-sort',
                            "orderable": false
                        }]
                    });
                }});
        }

        function drawchart(){
            var data = [
                {
                    value: 300,
                    color:"#F7464A",
                    highlight: "#FF5A5E",
                    label: "Finished"
                },
                {
                    value: 50,
                    color: "#46BFBD",
                    highlight: "#5AD3D1",
                    label: "Sent to supervisor"

                },
                {
                    value: 100,
                    color: "#FDB45C",
                    highlight: "#FFC870",
                    label: "Available"
                }
            ]

            var ctx = $("#countChart").get(0).getContext("2d");
            var myPieChart = new Chart(ctx).Pie(data);
            var legend = myPieChart.generateLegend();
            $('#chart').append(legend);
        }

        $(function() {
            Chart.defaults.global.responsive = true;
            drawchart();
            getcycles();
            $('#form_generalcycle').change(function(){
                getcycles();
            });
            $('#form_cycle').change(function(){
                getcycles();
            });
        });

    </script>

{% endblock %}


