{% extends 'IntoPeopleDatabaseBundle:Midyear:show.html.twig' %} 
{% block feedback -%}

    <div class="panel panel-default">
        <div class="panel-body">


            <h3>Feedback HR</h3>

            {{ form_start(form) }}

            {{ form_row(form.feedbackHR,{ 'attr': {'rows': '4'} }) }}

            {{ form_widget(form.save) }} {{ form_widget(form.approve) }} {{ form_widget(form.disapprove) }} {{ form_widget(form.onhold) }}

            {{ form_end(form) }}


        </div>
    </div>

{% endblock %}


