<table class="table" id="datatable">
    <thead>
    <tr>
        <th class="no-sort"></th>
        <th class="no-sort"><div class="checkbox">
                <input type="checkbox" id="selectallbox">
                <label for="selectallbox" ></label>
            </div></th>
        <th>{{ "table.user" | trans }}</th>
        <th>{{ "table.supervisor" | trans }}</th>
        <th>{{ "table.formstatus" | trans }}</th>
        <th class="no-sort"></th>
        <th class="no-sort"></th>
    </tr>
    </thead>
    <tbody>
    {% set teller = 0 %}
    {% for entity in entities %}

        <tr>
            <td>{{entity.id }}</td>
            <td><div class="checkbox">
                    <input class="inputcheck" type="checkbox" id="checkbox{{ teller }}">
                    <label for="checkbox{{ teller }}" ></label>
                </div></td>
            <td>{{ entity.feedbackcycle.user.firstname }} {{ entity.feedbackcycle.user.lastname }}</td>
            <td>{% if entity.supervisor is not empty %} {{ entity.supervisor.firstname }} {{ entity.supervisor.lastname }} {% endif %}</td>
            <td>{{ entity.formstatus.name }}</td>
            <td><button data-id="{{ entity.id }}"  class="btn btn-default history">{{ 'button.history' | trans }}</button></td>
            <td>
                {% if entity.formstatus.id != 5 and entity.formstatus.id != 6%}
                    {% set disabled = '' %}
                    {% if entity.formstatus.id == 2 %}
                        {% set disabled = 'disabled' %}
                        {% endif %}
                    <button class="btn btn-primary" {{ disabled }} href="{{ path(cycle ~ '_show', { 'id': entity.id }) }}">{{ "button.show" | trans}}</button>
                {% else %}
                    {% if cycle == 'cdp' %}
                        {% set link = 'hr_addFeedback' %}
                    {% else %}
                        {% set link = 'hr_add' ~ (cycle|capitalize) ~ 'Feedback' %}
                    {% endif %}
                    <button class="btn btn-success" href="{{ path(link, { 'id': entity.id }) }}">{{ "button.addfeedback" | trans}}</button>
                {% endif %}

            </td>
        </tr>
        {% set teller = teller + 1 %}
    {% endfor %}
    </tbody>
</table>