{% extends '::base.html.twig' %} {% block body -%}
    <h2>{{ template.mainTitle }}</h2>

    {% set cdp = entity.feedbackcycle.cdp %}

    {% if entity.formstatus.id > 3 %}

        <div class="row">
            <div class="col-md-6">

                <h3>Comments supervisor</h3>

                {{ entity.commentSup }}

            </div>
        </div>

    {% endif %}

    {% if entity.formstatus.id > 5 %}

        <div class="row">
            <div class="col-md-6">

                <h3>Feedback HR</h3>

                {{ entity.feedbackHR }}

            </div>
        </div>

    {% endif %}

    <div class="row">
        <div class="col-md-12">

            <h3>{{ template.title1 }}</h3>

            <div class="row">

                <div class="col-md-6">

                    <table class="table borderless">

                        <tr>
                            <th>{{ template.name }}:
                            <th>
                            <td>{{ app.user.firstname }} {{ app.user.lastname }}</td>
                        </tr>

                        {% if app.user.supervisor != null %}
                            <tr>
                                <th>{{ template.supervisor }}:
                                <th>
                                <td>{{ app.user.supervisor.firstname }} {{ app.user.supervisor.lastname }}</td>
                            </tr>
                        {% endif %}

                        <tr>
                            <th>{{ template.dateDiscussion }}:
                            <th>
                            <td></td>
                        </tr>

                    </table>

                </div>

                <div class="col-md-6">

                    <table class="table borderless">

                        <tr>
                            <th>{{ template.team }}:
                            <th>
                            <td></td>
                        </tr>


                        <tr>
                            <th>{{ template.function }}:
                            <th>
                            <td></td>
                        </tr>

                    </table>

                </div>

            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <h3>{{ template.title2 }}</h3>

            <p class=""><em>{{ template.title2Description }}</em></p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">


            <table class="table borderless">
                <tr>
                    <th style="width: 20%">{{ template.table2Col1 }}</th>
                    <th style="width: 20%">{{ template.table2Col2 }}</th>
                    <th style="width: 20%">{{ template.table2Col3 }}</th>
                    <th style="width: 20%">{{ template.table2Col4 }}</th>
                    <th style="width: 20%">{{ template.table2Col5 }}</th>
                    <th style="width: 1%"></th>
                </tr>

                <tr>
                    <td>{{ template.table2Col1Descr }}</td>
                    <td>{{ template.table2Col2Descr }}</td>
                    <td>{{ template.table2Col3Descr }}</td>
                    <td>{{ template.table2Col4Descr }}</td>
                    <td>{{ template.table2Col5Descr }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td>
                        <p>{{ cdp.coreQuality1 }}</p>

                        <p>{{ cdp.coreQuality1Why }}</p>
                    </td>
                    <td>
                        <p>{{ cdp.challenge1 }}</p>

                        <p>{{ cdp.challengeWhy1 }}</p>
                    </td>
                    <td>{{ cdp.challengeHow1 }}</td>
                    <td>{{ cdp.challengeSuccess1 }}</td>
                    <td>{{ cdp.challengeNeeds1 }}</td>
                </tr>

                <tr>
                    <td>
                        <p>{{ cdp.coreQuality2 }}</p>

                        <p>{{ cdp.coreQuality2Why }}</p>
                    </td>
                    <td>
                        <p>{{ cdp.challenge2 }}</p>

                        <p>{{ cdp.challengeWhy2 }}</p>
                    </td>
                    <td>{{ cdp.challengeHow2 }}</td>
                    <td>{{ cdp.challengeSuccess2 }}</td>
                    <td>{{ cdp.challengeNeeds2 }}</td>
                </tr>

                <tr>
                    <td>
                        <p>{{ cdp.coreQuality3 }}</p>

                        <p>{{ cdp.coreQuality3Why }}</p>
                    </td>
                    <td>
                        <p>{{ cdp.challenge3 }}</p>

                        <p>{{ cdp.challengeWhy3 }}</p>
                    </td>
                    <td>{{ cdp.challengeHow3 }}</td>
                    <td>{{ cdp.challengeSuccess3 }}</td>
                    <td>{{ cdp.challengeNeeds3 }}</td>
                </tr>

                {% if cdp.coreQuality4 != null %}

                    <tr>
                        <td>
                            <p>{{ cdp.coreQuality4 }}</p>

                            <p>{{ cdp.coreQuality4Why }}</p>
                        </td>
                        <td>
                            <p>{{ cdp.challenge4 }}</p>

                            <p>{{ cdp.challengeWhy4 }}</p>
                        </td>
                        <td>{{ cdp.challengeHow4 }}</td>
                        <td>{{ cdp.challengeSuccess4 }}</td>
                        <td>{{ cdp.challengeNeeds4 }}</td>
                    </tr>

                {% endif %}

                {% if cdp.coreQuality5 != null %}

                    <tr>
                        <td>
                            <p>{{ cdp.coreQuality5 }}</p>

                            <p>{{ cdp.coreQuality5Why }}</p>
                        </td>
                        <td>
                            <p>{{ cdp.challenge5 }}</p>

                            <p>{{ cdp.challengeWhy5 }}</p>
                        </td>
                        <td>{{ cdp.challengeHow5 }}</td>
                        <td>{{ cdp.challengeSuccess5 }}</td>
                        <td>{{ cdp.challengeNeeds5 }}</td>
                    </tr>

                {% endif %}

            </table>

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

            <h3>{{ template.title3 }}</h3>

            <p><em>{{ template.title3Description }}</em></p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">


            {{ form_start(form) }}

            {{ form_errors(form) }}


            <table class="table borderless">

                <thead>
                <tr>
                    <th style="width: 50%" colspan="2">{{ template.table3Col1 }}</th>
                    <th style="width: 50%">{{ template.table3Col2 }}</th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td colspan="2">{{ template.table3Col1Descr }}</td>
                    <td>{{ template.table3Col2Descr }}</td>
                </tr>

                <tr>
                    <td colspan="3"><h5 class="text-center">{{ template.table3Title1 }}</h5></td>
                </tr>


                <tr>
                    <td colspan="2">{{ devneeds.task1 }}</td>
                    <td>{{ form_errors(form.progresstask1) }}
                        {{ form_widget(form.progresstask1) }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.task2 }}</td>
                    <td>{{ form_errors(form.progresstask2) }}
                        {{ form_widget(form.progresstask2) }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.task3 }}</td>
                    <td>{{ form_errors(form.progresstask3) }}
                        {{ form_widget(form.progresstask3) }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.task4 }}</td>
                    <td>{{ form_errors(form.progresstask4) }}
                        {{ form_widget(form.progresstask4) }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.task5 }}</td>
                    <td>{{ form_errors(form.progresstask5) }}
                        {{ form_widget(form.progresstask5) }}</td>

                </tr>

                <tr>
                    <td colspan="3"><h5 class="text-center">{{ template.table3Title2 }}</h5></td>
                </tr>

                <tr>
                    <th style="width: 50%" colspan="2">{{ template.table3Col1 }}</th>
                    <th style="width: 50%">{{ template.table3Col2 }}</th>
                </tr>


                <tr>
                    <td colspan="2">{{ devneeds.skill1 }}</td>
                    <td>{{ form_errors(form.progressskill1) }}
                        {{ form_widget(form.progressskill1) }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.skill2 }}</td>
                    <td>{{ form_errors(form.progressskill2) }}
                        {{ form_widget(form.progressskill2) }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.skill3 }}</td>
                    <td>{{ form_errors(form.progressskill3) }}
                        {{ form_widget(form.progressskill3) }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.skill4 }}</td>
                    <td>{{ form_errors(form.progressskill4) }}
                        {{ form_widget(form.progressskill4) }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.skill5 }}</td>
                    <td>{{ form_errors(form.progressskill5) }}
                        {{ form_widget(form.progressskill5) }}</td>

                </tr>


                <tr>
                    <td colspan="3"><h5 class="text-center">{{ template.table3Title3 }}</h5></td>
                </tr>

                <tr>
                    <th style="width: 50%" colspan="2">{{ template.table3Col1 }}</th>
                    <th style="width: 50%">{{ template.table3Col2 }}</th>
                </tr>


                <tr>
                    <td>{{ devneeds.OrganizationCompetence1 }}</td>
                    <td>{{ devneeds.OrganizationDescription1 }}</td>

                    <td>{{ form_errors(form.progressorganization1) }}
                        {{ form_widget(form.progressorganization1) }}</td>

                </tr>

                <tr>
                    <td>{{ devneeds.OrganizationCompetence2 }}</td>
                    <td>{{ devneeds.OrganizationDescription2 }}</td>

                    <td>{{ form_errors(form.progressorganization2) }}
                        {{ form_widget(form.progressorganization2) }}</td>

                </tr>

                <tr>
                    <td>{{ devneeds.OrganizationCompetence3 }}</td>
                    <td>{{ devneeds.OrganizationDescription3 }}</td>

                    <td>{{ form_errors(form.progressorganization3) }}
                        {{ form_widget(form.progressorganization3) }}</td>

                </tr>

                <tr>
                    <td>{{ devneeds.OrganizationCompetence4 }}</td>
                    <td>{{ devneeds.OrganizationDescription4 }}</td>

                    <td>{{ form_errors(form.progressorganization4) }}
                        {{ form_widget(form.progressorganization4) }}</td>

                </tr>

                <tr>
                    <td>{{ devneeds.OrganizationCompetence5 }}</td>
                    <td>{{ devneeds.OrganizationDescription5 }}</td>

                    <td>{{ form_errors(form.progressorganization5) }}
                        {{ form_widget(form.progressorganization5) }}</td>

                </tr>


                </tbody>


            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">


            <h3>{{ template.title4 }}</h3>

            <p>{{ template.question1 }}</p>

            <div class="form-group">
                {{ form_widget(form.feedbacksupervisor) }}
            </div>

            <p>{{ template.question2 }}</p>

            <div class="form-group">
                {{ form_widget(form.feedbackorganization) }}
            </div>

            <div class="buttons">
                {{ form_widget(form.save) }}
                {{ form_widget(form.saveAndAdd) }}

                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default btn-cons"
                   type="button">{{ 'button.back' | trans }}</a>
            </div>

            {{ form_end(form) }}


        </div>
    </div>






{% endblock %}

{% block javascripts -%}
    {{ parent() }}
    <script>

    </script>
{% endblock %}

