{% extends '::base.html.twig' %}

{% block body -%}

    <div class="row">
        <div class="col-md-6">

            <h2>{{ "corequality.new.title" | trans }}</h2>

            {{ form_start(form) }}

            {{ form_row(form.coreQuality) }}

            {{ form_row(form.language) }}

            {{ form_widget(form.submit) }}

            <a href="{{ path('corequality') }}" role="button" class="btn btn-default">{{ "button.back" | trans }}</a>

            {{ form_end(form) }}


        </div>
    </div>

{% endblock %}
