{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}TalentBooster{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets %}

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,900italic,500,400italic,500italic,700,700italic,900' rel='stylesheet' type='text/css'>

        <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css')}}" rel="stylesheet" type="text/css" media="screen">

        <link href="{{ asset('assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.css')}}" rel="stylesheet" type="text/css" media="screen">

        <link href="{{ asset('assets/vendor/select2/dist/css/select2.css')}}" rel="stylesheet" type="text/css" media="screen">

        <link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.css')}}" rel="stylesheet" type="text/css" media="screen">

        <link href="{{ asset('assets/vendor/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css')}}" rel="stylesheet" type="text/css" media="screen">

        <link href="{{ asset('assets/css/custom.css')}}" rel="stylesheet" type="text/css" media="screen">

    {% endblock %}

</head>
<body>

<!-- BEGIN BODY -->


<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">{{ app.user.organization.name }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'navbar.employee' | trans }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('myfeedbackcycle') }}">{{ 'navbar.employee.feedbackcycle' | trans }}</a></li>
                    </ul>
                </li>

                {% if is_granted('ROLE_SUPERVISOR') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'navbar.supervisor' | trans }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('supervisor_dashboard') }}">{{ 'navbar.supervisor.dashboard' | trans }}</a></li>
                    </ul>
                </li>
                {% endif %}

                {% if is_granted('ROLE_HR') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'navbar.hr' | trans }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('hr_dashboard') }}">{{ 'navbar.hr.dashboard' | trans }}</a></li>
                        <li><a href="{{ path('generalcycle') }}">{{ 'navbar.hr.generalcycle' | trans }}</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('user') }}">{{ 'navbar.hr.users' | trans }}</a></li>
                        <li><a href="{{ path('organization') }}">{{ 'navbar.hr.organization' | trans }}</a></li>
                        <li><a href="{{ path('systemmail') }}">{{ 'navbar.hr.emails' | trans }}</a></li>
                        <li><a href="{{ path('language') }}">{{ 'navbar.hr.language' | trans }}</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'navbar.templates' | trans }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('templateversion') }}">{{ 'navbar.templates.templates' | trans }}</a></li>
                        <li><a href="{{ path('corequality') }}">{{ 'navbar.templates.corequalities' | trans }}</a></li>
                    </ul>
                </li>
                {% endif %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'navbar.employeedesk' | trans }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for upload in uploads %}

                            <li><a href="{{ app.request.basePath }}{{ vich_uploader_asset(upload, 'uploadFile') }}">{{ upload.name }}</a></li>

                        {% endfor %}

                        {% if is_granted('ROLE_SUPERVISOR') or is_granted('ROLE_HR') %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('upload') }}">{{ 'navbar.employeedesk.uploads' | trans }}</a></li>
                        {% endif %}
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg"></i> {{ app.user.firstname }} {{ app.user.lastname }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('user_profile') }}"><i class="fa fa-pencil"></i> {{ 'navbar.profile' | trans }}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('into_people_database_security_logout') }}"><i class="fa fa-power-off"></i> {{ 'navbar.logout' | trans }}</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>

<div class="container">

    {% block body %} {% endblock %}

</div>


<!-- END CONTAINER -->

{% block javascripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/bootstrap-datepicker/dist/locales/bootstrap-datepicker.nl.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('assets/vendor/bootstrap-datepicker/dist/locales/bootstrap-datepicker.nl.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('assets/vendor/select2/dist/js/select2.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>

    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

{% endblock %}

<script>
    var locale= {{ app.request.locale | json_encode() | raw}};
    $( document ).ready(function() {
        //Date Pickers
        $('.datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            language:locale

        });

        $('.select2').select2();


        {% block documentReady %}
        {% endblock %}

    });

</script>
</body>
</html>

