{% extends '::base.html.twig' %} {% block body -%}
<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<div id="portlet-config" class="modal hide">
	<div class="modal-header">
		<button data-dismiss="modal" class="close" type="button"></button>
		<h3>Widget Settings</h3>
	</div>
	<div class="modal-body">Widget settings form goes here</div>
</div>
<div class="clearfix"></div>
<div class="container">
	<div class="content">

		<div class="page-title">
			<i class="fa fa-group"></i>
			<h3>
				<span class="semi-bold">Organizations</span>
			</h3>
		</div>

		<div class="row">
			<div class="col-md-12">

                {% for flashMessage in app.session.flashbag.get('success') %}
						                      
		                  <div class="alert alert-success">
                            <button class="close" data-dismiss="alert"></button>
                            {{ flashMessage }}
                        </div>	
                        
		        {% endfor %}
                


				<table class="table no-more-tables">
					<thead>
						<tr>
						    <th>Logo</th>
							<th>Name</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for entity in entities %}
						<tr>
						    <td><img src="{{ app.request.basePath }}{{ vich_uploader_asset(entity, 'logoFile') }}" alt="{{ entity.name }}" style="max-width: 100px; max-height: 100px;"/></td>
							<td>{{ entity.name }}</td>
							<td><a href="{{ path('organization_edit', { 'id': entity.id }) }}" type="button" class="btn btn-warning btn-small">Edit</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>



				<a href="{{ path('organization_new') }}" type="button" class="btn btn-primary btn-cons">New organization</a>
																			
					
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block documentReady %}


{% endblock documentReady %}





