{% extends '::base.html.twig' %} {% block body -%}
    <div class="row">
    <div class="col-lg-3 col-md-4">
    {{ form(form) }}
    </div>
    </div>
    <div id="result"></div>


{% endblock %}

{% block javascripts -%}
    {{ parent() }}
    <script>
        var count = 0;
        function getform() {
            $.ajax({
                url: Routing.generate('cdp_edit', {
                    languageId: $('#form_language').val(),
                    id: {{ entity.id }},
                    _locale:locale
                }),
                success: function (result) {
                    $("#result").html(result);
                }
            });
        }

        $(function () {
            getform();

            $('#form_language').change(function () {
                getform();
            });


            $(document).on('click', '.qualityoption' , function(){
                if ($(this).hasClass('btn-default')){
                    if (count != 5){
                        $(this).toggleClass('btn-default');
                        $(this).toggleClass('btn-success');
                        count++;
                    }else {
                        $('#qualityerror').html('{{ 'cdp.modal.max5error' | trans }}');
                    }
                }else {
                    $(this).toggleClass('btn-default');
                    $(this).toggleClass('btn-success');
                    count--;
                }
            });

            $(document).on('click', '#corequalityok', function(){
                if (count >= 3){
                    $('#corequalitiesModal').modal('hide');
                    $.each( $('.btn-success'), function( key, value ) {
                    });
                    $('#qualityerror').html('');
                    if (count == 4){
                        $('#corequalitytable').find('.hidden').first().removeClass('hidden');
                    }
                    if (count == 5){
                        $('#corequalitytable').find('.hidden').removeClass('hidden');
                    }
                }else {
                    $('#qualityerror').html('{{ 'cdp.modal.min3error' | trans }}');
                }
            });

            $(document).on('click', '#custombutton', function(){
                var text = $('#custom').val();
                if (text != '') {
                    if (count != 5) {
                        var tr = $('#corequalitiesmodaltable').find('tr:last');
                        if ($(tr).find('td').length == 5) {
                            $('#corequalitiesmodaltable').append('<tr></tr>');
                        }

                        $('#corequalitiesmodaltable').find('tr:last').append('<td>' + '<button class="btn qualityoption btn-block btn-success">' + text + '</button>' + '</td>');

                        count++;

                    } else {
                        $('#qualityerror').html('{{ 'cdp.modal.max5error' | trans }}');
                    }
                }
            });




            $(document).on('click', '.addButton', function () {
                $(this).parent().parent().parent().find('.hidden').first().removeClass('hidden');

            });

            $(document).on('click', '.removeButton', function () {
                $(this).parent().parent().addClass('hidden');
            });
        });

    </script>
{% endblock %}

