{% extends '::base.html.twig' %} {% block body -%}


    {{ form(form) }}


    <div id="result"></div>


    <!-- Modal -->
    <div class="modal fade" id="corequalitiesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'cdp.corequalitiesmodal.title' }}</h4>
                </div>
                <div class="modal-body">
                    <p class="bg-danger" id="qualityerror"></p>
                            <div class="table-responsive">
                            {% set teller = 0 %}
                            <table class="table borderless" id="corequalitiesmodaltable">
                                <tr>
                                {% for corequality in corequalities %}
                                            <td><button class="btn qualityoption btn-default btn-block">{{ corequality.corequality }}</button></td>
                                    {% if teller % 5 == 4 %}
                                    </tr>
                                    <tr>
                                        {% endif %}
                                        {% set teller = (teller + 1) %}
                                {% endfor %}
                                </tr>
                            </table>
                                </div>
                            <div class="form-group text-center">
                                <input type="text" id="custom" /> <button id="custombutton" class="btn btn-primary">{{ 'cdp.corequalitiesmodal.addcustom' }}</button>
                            </div>

                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'modal.cancel' | trans }}</button>
                    <button type="button" class="btn btn-default" id="corequalityok">{{ 'modal.ok' | trans }}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts -%}
    {{ parent() }}
    <script>
        var count = 0;
        function getform() {
            $.ajax({
                url: Routing.generate('cdp_edit', {
                    languageId: $('#form_language').val(),
                    id: {{ entity.id }},
                    _locale:locale
                }),
                success: function (result) {
                    $("#result").html(result);
                }
            });
        }

        $(function () {
            getform();

            $('#form_language').change(function () {
                getform();
            });


            $(document).on('click', '.qualityoption' , function(){
                alert(count);
                if ($(this).hasClass('btn-default')){
                    if (count != 5){
                        $(this).toggleClass('btn-default');
                        $(this).toggleClass('btn-success');
                        count++;
                    }else {
                        $('#qualityerror').html('{{ 'cdp.modal.max5error' | trans }}');
                    }
                }else {
                    $(this).toggleClass('btn-default');
                    $(this).toggleClass('btn-success');
                    count--;
                }

            });

            $('#corequalityok').click(function(){
                if (count >= 3){
                    $('#corequalitiesModal').modal('hide');
                    $.each( $('.btn-success'), function( key, value ) {
                    });
                    $('#qualityerror').html('');
                    if (count == 4){
                        $('#corequalitytable').find('.hidden').first().removeClass('hidden');
                    }
                    if (count == 5){
                        $('#corequalitytable').find('.hidden').removeClass('hidden');
                    }
                }else {
                    $('#qualityerror').html('{{ 'cdp.modal.min3error' | trans }}');
                }
            });

            $('#custombutton').click(function(){
                var text = $('#custom').val();
                if (text != '') {
                    if (count != 5) {
                        var tr = $('#corequalitiesmodaltable').find('tr:last');
                        if ($(tr).find('td').length == 5) {
                            $('#corequalitiesmodaltable').append('<tr></tr>');
                        }

                        $('#corequalitiesmodaltable').find('tr:last').append('<td>' + '<button class="btn qualityoption btn-block btn-default">' + text + '</button>' + '</td>');

                    } else {
                        $('#qualityerror').html('{{ 'cdp.modal.max5error' | trans }}');
                    }
                }
            });




            $('.addButton').click(function () {
                $(this).parent().parent().parent().find('.hidden').first().removeClass('hidden');

            });

            $('.removeButton').click(function () {
                $(this).parent().parent().addClass('hidden');
            });
        });

    </script>
{% endblock %}

