{% extends '::base.html.twig' %} {% block body -%}
    <h2>{{ template.mainTitle }}</h2>

    <div class="row">
        <div class="col-md-12">

            <h3>{{ template.title1 }}</h3>

            <div class="row">

                <div class="col-md-6">

                    <table class="table borderless">

                        <tr>
                            <th>{{ template.name }}:
                            <th>
                            <td>{{ app.user.firstname }} {{ app.user.lastname }}</td>
                        </tr>

                        {% if app.user.supervisor != null %}
                            <tr>
                                <th>{{ template.supervisor }}:
                                <th>
                                <td>{{ app.user.supervisor.firstname }} {{ app.user.supervisor.lastname }}</td>
                            </tr>
                        {% endif %}

                        <tr>
                            <th>{{ template.dateDiscussion }}:
                            <th>
                            <td></td>
                        </tr>

                    </table>

                </div>

                <div class="col-md-6">

                    <table class="table borderless">

                        <tr>
                            <th>{{ template.team }}:
                            <th>
                            <td>{{ app.user.team }}</td>
                        </tr>


                        <tr>
                            <th>{{ template.function }}:
                            <th>
                            <td>{{ app.user.jobtitle }}</td>
                        </tr>

                    </table>

                </div>

            </div>


        </div>
    </div>


    {% if entity.formstatus.id > 3 %}

        <div class="row">
            <div class="col-md-12">

                <h3>Comments supervisor</h3>

                {{ entity.commentSup }}

            </div>
        </div>

    {% endif %}

    {% if entity.formstatus.id > 5 %}

        <div class="row">
            <div class="col-md-12">

                <h3>Feedback HR</h3>

                {{ entity.feedbackHR }}

            </div>
        </div>

    {% endif %}

    <div class="row">
        <div class="col-md-12">

            <h3>{{ template.title2 }}</h3>

            <p class=""><em>{{ template.title2Description }}</em></p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            {{ form_start(form) }}
            {{ form_row (form._token) }}{{ form_errors(form) }}

            <table class="table borderless" id="corequalitytable">
                <tr>
                    <th style="width: 16%">{{ template.table2Col1 }}</th>
                    <th style="width: 16%">{{ template.table2Col2 }}</th>
                    <th style="width: 16%">{{ template.table2Col3 }}</th>
                    <th style="width: 16%">{{ template.table2Col4 }}</th>
                    <th style="width: 16%">{{ template.table2Col5 }}</th>
                    <th style="width: 16%">{{ template.table2Col6 }}</th>
                    <th style="width: 1%"></th>
                </tr>

                <tr>
                    <td>{{ template.table2Col1Descr }}</td>
                    <td>{{ template.table2Col2Descr }}</td>
                    <td>{{ template.table2Col3Descr }}</td>
                    <td>{{ template.table2Col4Descr }}</td>
                    <td>{{ template.table2Col5Descr }}</td>
                    <td>{{ template.table2Col6Descr }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#corequalitiesModal">
                            {{ 'cdp.button.pickcorequalities' | trans }}
                        </button></td>
                </tr>
                <tr>
                    <td>
                        <p class="qualityrequired">{{ form_widget(form.coreQuality1) }}<span id="corequality1">{% if entity.coreQuality1 != null %}{{ entity.coreQuality1.coreQuality }}{% endif %}</span></p>


                        <p>{{ form_widget(form.coreQuality1Why) }}</p>
                    </td>
                    <td>
                        <p>{{ form_widget(form.challenge1) }}</p>

                        <p>{{ form_widget(form.challengeWhy1) }}</p>
                    </td>
                    <td>{{ form_widget(form.pitfall1,{ 'attr': {'rows': '4'} }) }}</td>
                    <td>{{ form_widget(form.challengeHow1, { 'attr': {'rows': '4'} }) }}</td>
                    <td>{{ form_widget(form.challengeSuccess1, { 'attr': {'rows': '4'} }) }}</td>
                    <td>{{ form_widget(form.challengeNeeds1, { 'attr': {'rows': '4'} }) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td>
                        <p class="qualityrequired">{{ form_widget(form.coreQuality2) }}<span id="corequality2">{% if entity.coreQuality2 != null %}{{ entity.coreQuality2.coreQuality }}{% endif %}</span></p>

                        <p>{{ form_widget(form.coreQuality2Why) }}</p>
                    </td>
                    <td>
                        <p>{{ form_widget(form.challenge2) }}</p>

                        <p>{{ form_widget(form.challengeWhy2) }}</p>
                    </td>
                    <td>{{ form_widget(form.pitfall2,{ 'attr': {'rows': '4'} }) }}</td>
                    <td>{{ form_widget(form.challengeHow2, { 'attr': {'rows': '4'} }) }}</td>
                    <td>{{ form_widget(form.challengeSuccess2, { 'attr': {'rows': '4'} }) }}</td>
                    <td>{{ form_widget(form.challengeNeeds2, { 'attr': {'rows': '4'} }) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td>
                        <p class="qualityrequired">{{ form_widget(form.coreQuality3) }}<span id="corequality3">{% if entity.coreQuality3 != null %}{{ entity.coreQuality3.coreQuality }}{% endif %}</span></p>

                        <p>{{ form_widget(form.coreQuality3Why) }}</p>
                    </td>
                    <td>
                        <p>{{ form_widget(form.challenge3) }}</p>

                        <p>{{ form_widget(form.challengeWhy3) }}</p>
                    </td>
                    <td>{{ form_widget(form.pitfall3,{ 'attr': {'rows': '4'} }) }}</td>
                    <td>{{ form_widget(form.challengeHow3, { 'attr': {'rows': '4'} }) }}</td>
                    <td>{{ form_widget(form.challengeSuccess3, { 'attr': {'rows': '4'} }) }}</td>
                    <td>{{ form_widget(form.challengeNeeds3, { 'attr': {'rows': '4'} }) }}</td>
                    <td>
                        <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                    </td>
                </tr>

                <tr class="hidden">
                    <td>
                        <p>{{ form_widget(form.coreQuality4) }}<span id="corequality4">{% if entity.coreQuality4 != null %}{{ entity.coreQuality4.coreQuality }}{% endif %}</span></p>

                        <p>{{ form_widget(form.coreQuality4Why) }}</p>
                    </td>
                    <td>
                        <p>{{ form_widget(form.challenge4) }}</p>

                        <p>{{ form_widget(form.challengeWhy4) }}</p>
                    </td>
                    <td>{{ form_widget(form.pitfall4,{ 'attr': {'rows': '4'} }) }}</td>
                    <td>{{ form_widget(form.challengeHow4, { 'attr': {'rows': '4'} }) }}</td>
                    <td>{{ form_widget(form.challengeSuccess4, { 'attr': {'rows': '4'} }) }}</td>
                    <td>{{ form_widget(form.challengeNeeds4, { 'attr': {'rows': '4'} }) }}</td>
                    <td>
                        <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                    </td>
                </tr>

                <tr class="hidden">
                    <td>
                        <p>{{ form_widget(form.coreQuality5) }}<span id="corequality5">{% if entity.coreQuality5 != null %}{{ entity.coreQuality5.coreQuality }}{% endif %}</span></p>

                        <p>{{ form_widget(form.coreQuality5Why) }}</p>
                    </td>
                    <td>
                        <p>{{ form_widget(form.challenge5) }}</p>

                        <p>{{ form_widget(form.challengeWhy5) }}</p>
                    </td>
                    <td>{{ form_widget(form.pitfall5,{ 'attr': {'rows': '4'} }) }}</td>
                    <td>{{ form_widget(form.challengeHow5, { 'attr': {'rows': '4'} }) }}</td>
                    <td>{{ form_widget(form.challengeSuccess5, { 'attr': {'rows': '4'} }) }}</td>
                    <td>{{ form_widget(form.challengeNeeds5, { 'attr': {'rows': '4'} }) }}</td>
                    <td>
                        <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                    </td>
                </tr>

            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <h3>{{ template.title3 }}</h3>

            <p><em>{{ template.title3Description }}</em></p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">


            <table class="table borderless">

                <thead>
                <tr>
                    <th style="width: 22%" colspan="2">{{ template.table3Col1 }}</th>
                    <th style="width: 12%">{{ template.table3Col2 }}</th>
                    <th style="width: 12%">{{ template.table3Col3 }}</th>
                    <th style="width: 12%">{{ template.table3Col4 }}</th>
                    <th style="width: 1%"></th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td colspan="2">{{ template.table3Col1Descr }}</td>
                    <td>{{ template.table3Col2Descr }}</td>
                    <td>{{ template.table3Col3Descr }}</td>
                    <td>{{ template.table3Col4Descr }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="6"><h5 class="text-center"><span class="green">{{ template.table3Title1 }}</span></h5></td>
                </tr>


                <tr>
                    <td colspan="2">{{ form_errors(form.developmentneeds.task1) }}
                        {{ form_widget(form.developmentneeds.task1) }}</td>
                    <td>{{ form_errors(form.taskhow1) }} {{ form_widget(form.taskhow1) }}</td>
                    <td>{{ form_errors(form.tasksucces1) }} {{ form_widget(form.tasksucces1) }}</td>
                    <td>{{ form_errors(form.taskneeds1) }} {{ form_widget(form.taskneeds1) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="2">{{ form_errors(form.developmentneeds.task2) }}
                        {{ form_widget(form.developmentneeds.task2) }}</td>
                    <td>{{ form_errors(form.taskhow2) }} {{ form_widget(form.taskhow2) }}</td>
                    <td>{{ form_errors(form.tasksucces2) }} {{ form_widget(form.tasksucces2) }}</td>
                    <td>{{ form_errors(form.taskneeds2) }} {{ form_widget(form.taskneeds2) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="2">{{ form_errors(form.developmentneeds.task3) }}
                        {{ form_widget(form.developmentneeds.task3) }}</td>
                    <td>{{ form_errors(form.taskhow3) }} {{ form_widget(form.taskhow3) }}</td>
                    <td>{{ form_errors(form.tasksucces3) }} {{ form_widget(form.tasksucces3) }}</td>
                    <td>{{ form_errors(form.taskneeds3) }} {{ form_widget(form.taskneeds3) }}</td>
                    <td>
                        <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                    </td>
                </tr>

                <tr class="hidden">
                    <td colspan="2">{{ form_errors(form.developmentneeds.task4) }}
                        {{ form_widget(form.developmentneeds.task4) }}</td>
                    <td>{{ form_errors(form.taskhow4) }} {{ form_widget(form.taskhow4) }}</td>
                    <td>{{ form_errors(form.tasksucces4) }} {{ form_widget(form.tasksucces4) }}</td>
                    <td>{{ form_errors(form.taskneeds4) }} {{ form_widget(form.taskneeds4) }}</td>
                    <td>
                        <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                    </td>
                </tr>

                <tr class="hidden">
                    <td colspan="2">{{ form_errors(form.developmentneeds.task5) }}
                        {{ form_widget(form.developmentneeds.task5) }}</td>
                    <td>{{ form_errors(form.taskhow5) }} {{ form_widget(form.taskhow5) }}</td>
                    <td>{{ form_errors(form.tasksucces5) }} {{ form_widget(form.tasksucces5) }}</td>
                    <td>{{ form_errors(form.taskneeds5) }} {{ form_widget(form.taskneeds5) }}</td>
                    <td>
                        <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                    </td>
                </tr>

                </tbody>

            </table>

            <table class="table borderless">

                <thead>

                <tr>
                    <td colspan="6"><h5 class="text-center"><span class="green">{{ template.table3Title2 }}</span></h5></td>
                </tr>


                <tr>
                    <th style="width: 22%" colspan="2">{{ template.table3Col1 }}</th>
                    <th style="width: 12%">{{ template.table3Col2 }}</th>
                    <th style="width: 12%">{{ template.table3Col3 }}</th>
                    <th style="width: 12%">{{ template.table3Col4 }}</th>
                    <th style="width: 1%"></th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td colspan="2">{{ form_errors(form.developmentneeds.skill1) }}
                        {{ form_widget(form.developmentneeds.skill1) }}</td>
                    <td>{{ form_errors(form.skillshow1) }} {{ form_widget(form.skillshow1) }}</td>
                    <td>{{ form_errors(form.skillssuccess1) }} {{ form_widget(form.skillssuccess1) }}</td>
                    <td>{{ form_errors(form.skillsneeds1) }} {{ form_widget(form.skillsneeds1) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="2">{{ form_errors(form.developmentneeds.skill2) }}
                        {{ form_widget(form.developmentneeds.skill2) }}</td>
                    <td>{{ form_errors(form.skillshow2) }} {{ form_widget(form.skillshow2) }}</td>
                    <td>{{ form_errors(form.skillssucces2) }} {{ form_widget(form.skillssucces2) }}</td>
                    <td>{{ form_errors(form.skillsneeds2) }} {{ form_widget(form.skillsneeds2) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="2">{{ form_errors(form.developmentneeds.skill3) }}
                        {{ form_widget(form.developmentneeds.skill3) }}</td>
                    <td>{{ form_errors(form.skillshow3) }} {{ form_widget(form.skillshow3) }}</td>
                    <td>{{ form_errors(form.skillssucces3) }} {{ form_widget(form.skillssucces3) }}</td>
                    <td>{{ form_errors(form.skillsneeds3) }} {{ form_widget(form.skillsneeds3) }}</td>
                    <td>
                        <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                    </td>
                </tr>

                <tr class="hidden">
                    <td colspan="2">{{ form_errors(form.developmentneeds.skill4) }}
                        {{ form_widget(form.developmentneeds.skill4) }}</td>
                    <td>{{ form_errors(form.skillshow4) }} {{ form_widget(form.skillshow4) }}</td>
                    <td>{{ form_errors(form.skillssucces4) }} {{ form_widget(form.skillssucces4) }}</td>
                    <td>{{ form_errors(form.skillsneeds4) }} {{ form_widget(form.skillsneeds4) }}</td>
                    <td>
                        <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                    </td>
                </tr>

                <tr class="hidden">
                    <td colspan="2">{{ form_errors(form.developmentneeds.skill5) }}
                        {{ form_widget(form.developmentneeds.skill5) }}</td>
                    <td>{{ form_errors(form.skillshow5) }} {{ form_widget(form.skillshow5) }}</td>
                    <td>{{ form_errors(form.skillssucces5) }} {{ form_widget(form.skillssucces5) }}</td>
                    <td>{{ form_errors(form.skillsneeds5) }} {{ form_widget(form.skillsneeds5) }}</td>
                    <td>
                        <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                    </td>
                </tr>

                </tbody>

            </table>

            <table class="table borderless">
                <thead>

                <tr>
                    <td colspan="6"><h5 class="text-center"><span class="green">{{ template.table3Title3 }}</span></h5></td>
                </tr>

                <tr>
                    <th style="width: 22%" colspan="2">{{ template.table3Col1 }}</th>
                    <th style="width: 12%">{{ template.table3Col2 }}</th>
                    <th style="width: 12%">{{ template.table3Col3 }}</th>
                    <th style="width: 12%">{{ template.table3Col4 }}</th>
                    <th style="width: 1%"></th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td>{{ form_errors(form.developmentneeds.organizationcompetence1) }}
                        {{ form_widget(form.developmentneeds.organizationcompetence1) }}</td>
                    <td>{{ form_errors(form.developmentneeds.organizationdescription1) }}
                        {{ form_widget(form.developmentneeds.organizationdescription1) }}</td>

                    <td>{{ form_errors(form.organizationhow1) }} {{ form_widget(form.organizationhow1) }}</td>
                    <td>{{ form_errors(form.organizationsuccess1) }} {{ form_widget(form.organizationsuccess1) }}</td>
                    <td>{{ form_errors(form.organizationneeds1) }} {{ form_widget(form.organizationneeds1) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td>{{ form_errors(form.developmentneeds.organizationcompetence2) }}
                        {{ form_widget(form.developmentneeds.organizationcompetence2) }}</td>
                    <td>{{ form_errors(form.developmentneeds.organizationdescription2) }}
                        {{ form_widget(form.developmentneeds.organizationdescription2) }}</td>

                    <td>{{ form_errors(form.organizationhow2) }} {{ form_widget(form.organizationhow2) }}</td>
                    <td>{{ form_errors(form.organizationsuccess2) }} {{ form_widget(form.organizationsuccess2) }}</td>
                    <td>{{ form_errors(form.organizationneeds2) }} {{ form_widget(form.organizationneeds2) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td>{{ form_errors(form.developmentneeds.organizationcompetence3) }}
                        {{ form_widget(form.developmentneeds.organizationcompetence3) }}</td>
                    <td>{{ form_errors(form.developmentneeds.organizationdescription3) }}
                        {{ form_widget(form.developmentneeds.organizationdescription3) }}</td>

                    <td>{{ form_errors(form.organizationhow3) }} {{ form_widget(form.organizationhow3) }}</td>
                    <td>{{ form_errors(form.organizationsuccess3) }} {{ form_widget(form.organizationsuccess3) }}</td>
                    <td>{{ form_errors(form.organizationneeds3) }} {{ form_widget(form.organizationneeds3) }}</td>
                    <td>
                        <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                    </td>
                </tr>

                <tr class="hidden">
                    <td>{{ form_errors(form.developmentneeds.organizationcompetence4) }}
                        {{ form_widget(form.developmentneeds.organizationcompetence4) }}</td>
                    <td>{{ form_errors(form.developmentneeds.organizationdescription4) }}
                        {{ form_widget(form.developmentneeds.organizationdescription4) }}</td>

                    <td>{{ form_errors(form.organizationhow4) }} {{ form_widget(form.organizationhow4) }}</td>
                    <td>{{ form_errors(form.organizationsuccess4) }} {{ form_widget(form.organizationsuccess4) }}</td>
                    <td>{{ form_errors(form.organizationneeds4) }} {{ form_widget(form.organizationneeds4) }}</td>
                    <td>
                        <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                    </td>
                </tr>

                <tr class="hidden">
                    <td>{{ form_errors(form.developmentneeds.organizationcompetence5) }}
                        {{ form_widget(form.developmentneeds.organizationcompetence5) }}</td>
                    <td>{{ form_errors(form.developmentneeds.organizationdescription5) }}
                        {{ form_widget(form.developmentneeds.organizationdescription5) }}</td>

                    <td>{{ form_errors(form.organizationhow5) }} {{ form_widget(form.organizationhow5) }}</td>
                    <td>{{ form_errors(form.organizationsuccess5) }} {{ form_widget(form.organizationsuccess5) }}</td>
                    <td>{{ form_errors(form.organizationneeds5) }} {{ form_widget(form.organizationneeds5) }}</td>
                    <td>
                        <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                    </td>
                </tr>


                </tbody>


            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-md-7">

            <h3>{{ template.title4 }}</h3>

            <p>{{ template.question1 }}</p>

            {{ form_errors(form.careerobjective) }} {{ form_widget(form.careerobjective, { 'attr': {'rows': '4'} }) }}

        </div>
    </div>

    <div class="row">
        <div class="col-md-7">

            <h3>{{ template.title5 }}</h3>

            <p>{{ template.question2 }}</p>

            {{ form_errors(form.additionalinformation) }} {{ form_widget(form.additionalinformation, { 'attr': {'rows': '4'} }) }}

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="buttons">
                {{ form_widget(form.save) }} {{ form_widget(form.saveAndAdd) }} <a
                        href="{{ app.request.headers.get('referer') }}"
                        class="btn btn-default btn-cons" type="button">Back</a>
            </div>

            {{ form_end(form) }}

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="corequalitiesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'cdp.corequalitiesmodal.title' }}</h4>
                </div>
                <div class="modal-body">
                    <p class="bg-danger" id="qualityerror"></p>
                    <div class="table-responsive">
                        {% set teller = 0 %}
                        <table class="table borderless" id="corequalitiesmodaltable">
                            <tr>
                                {% for corequality in corequalities %}
                                <td><button class="btn qualityoption btn-default btn-block">{{ corequality.corequality }}</button></td>
                                {% if teller % 5 == 4 %}
                            </tr>
                            <tr>
                                {% endif %}
                                {% set teller = (teller + 1) %}
                                {% endfor %}
                            </tr>
                        </table>
                    </div>
                    <div class="form-group text-center">
                        <input type="text" id="custom" /> <button id="custombutton" class="btn btn-primary">{{ 'cdp.corequalitiesmodal.addcustom' }}</button>
                    </div>

                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'modal.cancel' | trans }}</button>
                    <button type="button" class="btn btn-default" id="corequalityok">{{ 'modal.ok' | trans }}</button>
                </div>
            </div>
        </div>
    </div>





{% endblock %}

{% block javascripts -%}
    {{ parent() }}
    <script>
        var count = 0;
        var clicked = '';
        $(function () {

            $("form").submit(function(e){
                alert(clicked);
                if (true == true){
                    return false;
                }
            });


            $("[type=submit]").click(function() {
                alert('test');
                clicked = $(this).text();

            });

            $(document).on('click', '.qualityoption' , function(){
                if ($(this).hasClass('btn-default')){
                    if (count != 5){
                        $(this).toggleClass('btn-default');
                        $(this).toggleClass('btn-success');
                        count++;
                    }else {
                        $('#qualityerror').html('{{ 'cdp.modal.max5error' | trans }}');
                    }
                }else {
                    $(this).toggleClass('btn-default');
                    $(this).toggleClass('btn-success');
                    count--;
                }
            });

            $(document).on('click', '#corequalityok', function(){
                if (count >= 3){
                    $('#corequalitiesModal').modal('hide');
                    var teller = 1;
                    $.each( $('.btn-success'), function() {
                        $('#corequality' + teller).html($(this).text());
                        $('#intopeople_databasebundle_cdp_coreQuality' + teller).val($(this).text());
                        teller++;
                    });
                    $('#qualityerror').html('');
                    if (count == 4){
                        $('#corequalitytable').find('.hidden').first().removeClass('hidden');
                    }
                    if (count == 5){
                        $('#corequalitytable').find('.hidden').removeClass('hidden');
                    }
                }else {
                    $('#qualityerror').html('{{ 'cdp.modal.min3error' | trans }}');
                }
            });

            $(document).on('click', '#custombutton', function(){
                var text = $('#custom').val();
                if (text != '') {
                    if (count != 5) {
                        var tr = $('#corequalitiesmodaltable').find('tr:last');
                        if ($(tr).find('td').length == 5) {
                            $('#corequalitiesmodaltable').append('<tr></tr>');
                        }

                        $('#corequalitiesmodaltable').find('tr:last').append('<td>' + '<button class="btn qualityoption btn-block btn-success">' + text + '</button>' + '</td>');

                        count++;

                    } else {
                        $('#qualityerror').html('{{ 'cdp.modal.max5error' | trans }}');
                    }
                }
            });


            $(document).on('click', '.addButton', function () {
                $(this).parent().parent().parent().find('.hidden').first().removeClass('hidden');

            });

            $(document).on('click', '.removeButton', function () {
                $(this).parent().parent().addClass('hidden');
            });
        });

    </script>
{% endblock %}

