{% extends '::base.html.twig' %} {% block body -%}

    <h2>Career development plan</h2>

    {% set template = entity.cdptemplate %}

    <div class="row">
        <div class="col-md-12">

            <h3>Personalia</h3>

            <div class="row">

                <div class="col-md-6">

                    <table class="table borderless">

                        <tr>
                            <th>Name:
                            <th>
                            <td>{{ app.user.firstname }} {{ app.user.lastname }}</td>
                        </tr>

                        {% if app.user.supervisor != null %}
                            <tr>
                                <th>Supervisor:
                                <th>
                                <td>{{ app.user.supervisor.firstname }} {{ app.user.supervisor.lastname }}</td>
                            </tr>
                        {% endif %}

                        <tr>
                            <th>Date discussion:
                            <th>
                            <td></td>
                        </tr>

                    </table>

                </div>

                <div class="col-md-6">

                    <table class="table borderless">

                        <tr>
                            <th>Team:<th>
                            <td></td>
                        </tr>


                            <tr>
                                <th>Functie:<th>
                                <td></td>
                            </tr>

                    </table>

                </div>

            </div>



        </div>
    </div>


    {% if entity.formstatus.id > 3 %}

        <div class="row">
            <div class="col-md-12">

                <h3>Comments supervisor</h3>

                {{ entity.commentSup }}

            </div>
        </div>

    {% endif %}

    {% if entity.formstatus.id > 5 %}

        <div class="row">
            <div class="col-md-12">

                <h3>Feedback HR</h3>

                {{ entity.feedbackHR }}

            </div>
        </div>

    {% endif %}

    <div class="row">
        <div class="col-md-12">

            <h3>{{ template.selfassesment }}</h3>

            <p class="">{{ template.selfassesmentDescription }}</p>

            {{ form_start(form) }} {{ form_errors(form) }}

            <table class="table borderless">
                <tr>
                    <th style="width: 20%">Talents</th>
                    <th style="width: 20%">Challenges</th>
                    <th style="width: 20%">How</th>
                    <th style="width: 20%">Success</th>
                    <th style="width: 20%">Needs</th>
                    <th style="width: 1%"></th>
                </tr>

                <tr>
                    <td>
                        <p>{{ form_widget(form.coreQuality1) }}</p>
                        <p>{{ form_widget(form.coreQuality1Why) }}</p>
                    </td>
                    <td>
                        <p>{{ form_widget(form.challenge1) }}</p>
                        <p>{{ form_widget(form.challengeWhy1) }}</p>
                    </td>
                    <td>{{ form_widget(form.challengeHow1) }}</td>
                    <td>{{ form_widget(form.challengeSuccess1) }}</td>
                    <td>{{ form_widget(form.challengeNeeds1) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td>
                        <p>{{ form_widget(form.coreQuality2) }}</p>
                        <p>{{ form_widget(form.coreQuality2Why) }}</p>
                    </td>
                    <td>
                        <p>{{ form_widget(form.challenge2) }}</p>
                        <p>{{ form_widget(form.challengeWhy2) }}</p>
                    </td>
                    <td>{{ form_widget(form.challengeHow2) }}</td>
                    <td>{{ form_widget(form.challengeSuccess2) }}</td>
                    <td>{{ form_widget(form.challengeNeeds2) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td>
                        <p>{{ form_widget(form.coreQuality3) }}</p>
                        <p>{{ form_widget(form.coreQuality3Why) }}</p>
                    </td>
                    <td>
                        <p>{{ form_widget(form.challenge3) }}</p>
                        <p>{{ form_widget(form.challengeWhy3) }}</p>
                    </td>
                    <td>{{ form_widget(form.challengeHow3) }}</td>
                    <td>{{ form_widget(form.challengeSuccess3) }}</td>
                    <td>{{ form_widget(form.challengeNeeds3) }}</td>
                    <td><button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button></td>
                </tr>

                <tr class="hidden">
                    <td>
                        <p>{{ form_widget(form.coreQuality4) }}</p>
                        <p>{{ form_widget(form.coreQuality4Why) }}</p>
                    </td>
                    <td>
                        <p>{{ form_widget(form.challenge4) }}</p>
                        <p>{{ form_widget(form.challengeWhy4) }}</p>
                    </td>
                    <td>{{ form_widget(form.challengeHow4) }}</td>
                    <td>{{ form_widget(form.challengeSuccess4) }}</td>
                    <td>{{ form_widget(form.challengeNeeds4) }}</td>
                    <td><button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button></td>
                </tr>

                <tr class="hidden">
                    <td>
                        <p>{{ form_widget(form.coreQuality5) }}</p>
                        <p>{{ form_widget(form.coreQuality5Why) }}</p>
                    </td>
                    <td>
                        <p>{{ form_widget(form.challenge5) }}</p>
                        <p>{{ form_widget(form.challengeWhy5) }}</p>
                    </td>
                    <td>{{ form_widget(form.challengeHow5) }}</td>
                    <td>{{ form_widget(form.challengeSuccess5) }}</td>
                    <td>{{ form_widget(form.challengeNeeds5) }}</td>
                    <td><button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button></td>
                </tr>

            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">


            <h3>Development Needs for your Job</h3>

            <p>{{ template.developmentneeds }}</p>

            <table class="table borderless">

                <thead>
                <tr>
                    <th style="width: 22%" colspan="2">{{ template.whatWhy }}</th>
                    <th style="width: 12%">{{ template.how }}</th>
                    <th style="width: 12%">{{ template.success }}</th>
                    <th style="width: 12%">{{ template.needs }}</th>
                    <th style="width: 1%"></th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td colspan="2">{{ template.whatWhyDescription }}</td>
                    <td>{{ template.howDescription }}</td>
                    <td>{{ template.successDescription }}</td>
                    <td>{{ template.needsDescription }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="6"><h5 class="text-center">Job specific tasks and
                            responsibilities</h5></td>
                </tr>


                <tr>
                    <td colspan="2">{{ form_errors(form.developmentneeds.task1) }}
                        {{ form_widget(form.developmentneeds.task1) }}</td>
                    <td>{{ form_errors(form.taskhow1) }} {{ form_widget(form.taskhow1) }}</td>
                    <td>{{ form_errors(form.tasksucces1) }} {{ form_widget(form.tasksucces1) }}</td>
                    <td>{{ form_errors(form.taskneeds1) }} {{ form_widget(form.taskneeds1) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="2">{{ form_errors(form.developmentneeds.task2) }}
                        {{ form_widget(form.developmentneeds.task2) }}</td>
                    <td>{{ form_errors(form.taskhow2) }} {{ form_widget(form.taskhow2) }}</td>
                    <td>{{ form_errors(form.tasksucces2) }} {{ form_widget(form.tasksucces2) }}</td>
                    <td>{{ form_errors(form.taskneeds2) }} {{ form_widget(form.taskneeds2) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="2">{{ form_errors(form.developmentneeds.task3) }}
                        {{ form_widget(form.developmentneeds.task3) }}</td>
                    <td>{{ form_errors(form.taskhow3) }} {{ form_widget(form.taskhow3) }}</td>
                    <td>{{ form_errors(form.tasksucces3) }} {{ form_widget(form.tasksucces3) }}</td>
                    <td>{{ form_errors(form.taskneeds3) }} {{ form_widget(form.taskneeds3) }}</td>
                    <td><button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button></td>
                </tr>

                <tr class="hidden">
                    <td colspan="2">{{ form_errors(form.developmentneeds.task4) }}
                        {{ form_widget(form.developmentneeds.task4) }}</td>
                    <td>{{ form_errors(form.taskhow4) }} {{ form_widget(form.taskhow4) }}</td>
                    <td>{{ form_errors(form.tasksucces4) }} {{ form_widget(form.tasksucces4) }}</td>
                    <td>{{ form_errors(form.taskneeds4) }} {{ form_widget(form.taskneeds4) }}</td>
                    <td><button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button></td>
                </tr>

                <tr class="hidden">
                    <td colspan="2">{{ form_errors(form.developmentneeds.task5) }}
                        {{ form_widget(form.developmentneeds.task5) }}</td>
                    <td>{{ form_errors(form.taskhow5) }} {{ form_widget(form.taskhow5) }}</td>
                    <td>{{ form_errors(form.tasksucces5) }} {{ form_widget(form.tasksucces5) }}</td>
                    <td>{{ form_errors(form.taskneeds5) }} {{ form_widget(form.taskneeds5) }}</td>
                    <td><button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button></td>
                </tr>

                </tbody>

                </table>

                <table class="table borderless">

                <thead>

                <tr>
                    <td colspan="6"><h5 class="text-center">Job specific skills and competencies</h5></td>
                </tr>



                <tr>
                    <th style="width: 22%" colspan="2">{{ template.whatWhy }}</th>
                    <th style="width: 12%">{{ template.how }}</th>
                    <th style="width: 12%">{{ template.success }}</th>
                    <th style="width: 12%">{{ template.needs }}</th>
                    <th style="width: 1%"></th>
                </tr>
                    </thead>
                    <tbody>

                <tr>
                    <td colspan="2">{{ form_errors(form.developmentneeds.skill1) }}
                        {{ form_widget(form.developmentneeds.skill1) }}</td>
                    <td>{{ form_errors(form.skillshow1) }} {{ form_widget(form.skillshow1) }}</td>
                    <td>{{ form_errors(form.skillssuccess1) }} {{ form_widget(form.skillssuccess1) }}</td>
                    <td>{{ form_errors(form.skillsneeds1) }} {{ form_widget(form.skillsneeds1) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="2">{{ form_errors(form.developmentneeds.skill2) }}
                        {{ form_widget(form.developmentneeds.skill2) }}</td>
                    <td>{{ form_errors(form.skillshow2) }} {{ form_widget(form.skillshow2) }}</td>
                    <td>{{ form_errors(form.skillssucces2) }} {{ form_widget(form.skillssucces2) }}</td>
                    <td>{{ form_errors(form.skillsneeds2) }} {{ form_widget(form.skillsneeds2) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="2">{{ form_errors(form.developmentneeds.skill3) }}
                        {{ form_widget(form.developmentneeds.skill3) }}</td>
                    <td>{{ form_errors(form.skillshow3) }} {{ form_widget(form.skillshow3) }}</td>
                    <td>{{ form_errors(form.skillssucces3) }} {{ form_widget(form.skillssucces3) }}</td>
                    <td>{{ form_errors(form.skillsneeds3) }} {{ form_widget(form.skillsneeds3) }}</td>
                    <td><button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button></td>
                </tr>

                <tr class="hidden">
                    <td colspan="2">{{ form_errors(form.developmentneeds.skill4) }}
                        {{ form_widget(form.developmentneeds.skill4) }}</td>
                    <td>{{ form_errors(form.skillshow4) }} {{ form_widget(form.skillshow4) }}</td>
                    <td>{{ form_errors(form.skillssucces4) }} {{ form_widget(form.skillssucces4) }}</td>
                    <td>{{ form_errors(form.skillsneeds4) }} {{ form_widget(form.skillsneeds4) }}</td>
                    <td><button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button></td>
                </tr>

                <tr class="hidden">
                    <td colspan="2">{{ form_errors(form.developmentneeds.skill5) }}
                        {{ form_widget(form.developmentneeds.skill5) }}</td>
                    <td>{{ form_errors(form.skillshow5) }} {{ form_widget(form.skillshow5) }}</td>
                    <td>{{ form_errors(form.skillssucces5) }} {{ form_widget(form.skillssucces5) }}</td>
                    <td>{{ form_errors(form.skillsneeds5) }} {{ form_widget(form.skillsneeds5) }}</td>
                    <td><button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button></td>
                </tr>

                </tbody>

                </table>

                <table class="table borderless">
                    <thead>

                <tr>
                    <td colspan="6"><h5 class="text-center">Organization
                            competencies</h5></td>
                </tr>

                <tr>
                    <th style="width: 22%" colspan="2">{{ template.whatWhy }}</th>
                    <th style="width: 12%">{{ template.how }}</th>
                    <th style="width: 12%">{{ template.success }}</th>
                    <th style="width: 12%">{{ template.needs }}</th>
                    <th style="width: 1%"></th>
                </tr>
                    </thead>

                    <tbody>

                <tr>
                    <td>{{ form_errors(form.developmentneeds.organizationcompetence1) }}
                        {{ form_widget(form.developmentneeds.organizationcompetence1) }}</td>
                    <td>{{ form_errors(form.developmentneeds.organizationdescription1) }}
                        {{ form_widget(form.developmentneeds.organizationdescription1) }}</td>

                    <td>{{ form_errors(form.organizationhow1) }} {{ form_widget(form.organizationhow1) }}</td>
                    <td>{{ form_errors(form.organizationsuccess1) }} {{ form_widget(form.organizationsuccess1) }}</td>
                    <td>{{ form_errors(form.organizationneeds1) }} {{ form_widget(form.organizationneeds1) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td>{{ form_errors(form.developmentneeds.organizationcompetence2) }}
                        {{ form_widget(form.developmentneeds.organizationcompetence2) }}</td>
                    <td>{{ form_errors(form.developmentneeds.organizationdescription2) }}
                        {{ form_widget(form.developmentneeds.organizationdescription2) }}</td>

                    <td>{{ form_errors(form.organizationhow2) }} {{ form_widget(form.organizationhow2) }}</td>
                    <td>{{ form_errors(form.organizationsuccess2) }} {{ form_widget(form.organizationsuccess2) }}</td>
                    <td>{{ form_errors(form.organizationneeds2) }} {{ form_widget(form.organizationneeds2) }}</td>
                    <td></td>
                </tr>

                <tr>
                    <td>{{ form_errors(form.developmentneeds.organizationcompetence3) }}
                        {{ form_widget(form.developmentneeds.organizationcompetence3) }}</td>
                    <td>{{ form_errors(form.developmentneeds.organizationdescription3) }}
                        {{ form_widget(form.developmentneeds.organizationdescription3) }}</td>

                    <td>{{ form_errors(form.organizationhow3) }} {{ form_widget(form.organizationhow3) }}</td>
                    <td>{{ form_errors(form.organizationsuccess3) }} {{ form_widget(form.organizationsuccess3) }}</td>
                    <td>{{ form_errors(form.organizationneeds3) }} {{ form_widget(form.organizationneeds3) }}</td>
                    <td><button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button></td>
                </tr>

                <tr class="hidden">
                    <td>{{ form_errors(form.developmentneeds.organizationcompetence4) }}
                        {{ form_widget(form.developmentneeds.organizationcompetence4) }}</td>
                    <td>{{ form_errors(form.developmentneeds.organizationdescription4) }}
                        {{ form_widget(form.developmentneeds.organizationdescription4) }}</td>

                    <td>{{ form_errors(form.organizationhow4) }} {{ form_widget(form.organizationhow4) }}</td>
                    <td>{{ form_errors(form.organizationsuccess4) }} {{ form_widget(form.organizationsuccess4) }}</td>
                    <td>{{ form_errors(form.organizationneeds4) }} {{ form_widget(form.organizationneeds4) }}</td>
                    <td><button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button></td>
                </tr>

                <tr class="hidden">
                    <td>{{ form_errors(form.developmentneeds.organizationcompetence5) }}
                        {{ form_widget(form.developmentneeds.organizationcompetence5) }}</td>
                    <td>{{ form_errors(form.developmentneeds.organizationdescription5) }}
                        {{ form_widget(form.developmentneeds.organizationdescription5) }}</td>

                    <td>{{ form_errors(form.organizationhow5) }} {{ form_widget(form.organizationhow5) }}</td>
                    <td>{{ form_errors(form.organizationsuccess5) }} {{ form_widget(form.organizationsuccess5) }}</td>
                    <td>{{ form_errors(form.organizationneeds5) }} {{ form_widget(form.organizationneeds5) }}</td>
                    <td><button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button></td>
                </tr>


                </tbody>


            </table>


            <h3>{{ template.careerObjectives }}</h3>

            <p>{{ template.careerObjectivesQuestion }}</p>

            {{ form_errors(form.careerobjective) }} {{ form_widget(form.careerobjective) }}


            <h3>{{ template.additionalInformation }}</h3>

            <p>{{ template.additionalInformationQuestion }}</p>

            {{ form_errors(form.additionalinformation) }} {{ form_widget(form.additionalinformation) }}

            <div class="buttons">
                {{ form_widget(form.save) }} {{ form_widget(form.saveAndAdd) }} <a
                        href="{{ app.request.headers.get('referer') }}"
                        class="btn btn-default btn-cons" type="button">Back</a>
            </div>

            {{ form_end(form) }}


        </div>
    </div>

{% endblock %}

{%  block javascripts -%}
    {{ parent() }}
    <script>
        $('.addButton').click(function() {
            $(this).parent().parent().parent().find('.hidden').first().removeClass('hidden');

        })

        $('.removeButton').click(function() {
            $(this).parent().parent().addClass('hidden');
        })
    </script>
{% endblock %}

