{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-6">
            <h2>{{ entity.name }}</h2>
            {% for flashMessage in app.session.flashbag.get('warning') %}

                <div class="alert alert-danger">
                    <button class="close" data-dismiss="alert"></button>
                    {{ flashMessage }}
                </div>

            {% endfor %}
            {{ form_start(edit_form) }}
            {% if entity.mailtype.name == 'weekbeforedeadline' %}
                {{ form_row(edit_form.mailtype) }}
            {% endif %}
            {{ form_row(edit_form.sender) }}
            {{ form_row(edit_form.subject) }}
            {% if entity.name == "Account created mail" %}
                {{ "systemmail.urlinstruction" | trans }}
            {% endif %}
            {{ form_row(edit_form.body) }}

            {{ form_widget(edit_form.submit) }} <a href="{{ path('systemmail') }}" class="btn btn-default">{{ "button.back" | trans }}</a>

            {{ form_end(edit_form) }}



        </div>
    </div>
{% endblock %}
