{% extends '::base.html.twig' %}

{% block body -%}
<div class="col-lg-10">
    <h2>{{ entity.name }}</h2>
    {{ form_start(edit_form) }}
    {% if entity.mailtype.name == 'weekbeforedeadline' %}
    {{ form_row(edit_form.mailtype) }}
    {% endif %}
    {{ form_row(edit_form.sender) }}
   {{ form_row(edit_form.subject) }}
    {% if entity.name == "Account created mail" %}
    {{ "systemmail.urlinstruction" | trans }}
    {% endif %}
    {{ form_row(edit_form.body) }}
    {{ form_end(edit_form) }}

    <p>
        <a href="{{ path('systemmail') }}" class="btn btn-default">
            {{ "backbutton" | trans }}
        </a>
    </p>
</div>

{% endblock %}
