{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/vendor/bootstrap-toggle/css/bootstrap-toggle.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body -%}
    <h1>{{ 'systemmail.header' | trans}}</h1>
    <div class="row">{{ form_start(form) }}
        <div class="col-lg-4">
            {{ form_row(form.language) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(form.defaultemail) }}
            {{ form_row(form.setemail) }}
        </div>
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div id="result">

    </div>

    {% endblock %}
{%  block javascripts -%}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/bootstrap-toggle/js/bootstrap-toggle.min.js') }}"></script>
    <script>
        function changeActive(element){
            $.ajax({
                url: Routing.generate('systemmail_changeactive', {id:element.data('id')})
            });
        }

        function getMails(){
            $.ajax({url: Routing.generate('systemmail_getmails', {id:$('#form_language').val()}),
                success: function(result){
                    $("#result").html(result);
                    $('.letoggle').bootstrapToggle();
                    $('.letoggle').change(function() {
                        changeActive($(this));
                    });
            }});

        }
        $(function() {
            getMails();
            $('#form_language').change(function(){
                getMails();
            });
        });
    </script>
{%  endblock %}
