{% extends '::base.html.twig' %} 
{% block body -%}
<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<div id="portlet-config" class="modal hide">
	<div class="modal-header">
		<button data-dismiss="modal" class="close" type="button"></button>
		<h3>Widget Settings</h3>
	</div>
	<div class="modal-body">Widget settings form goes here</div>
</div>
<div class="clearfix"></div>
<div class="container">
	<div class="content">

		<div class="page-title">
			<i class="icon-custom-left"></i>
			<h3>
				Feedback<span class="semi-bold">cycles</span>
			</h3>
		</div>

		<div class="row margin-top-30">
			<div class="col-md-6">
						
						{{ form_start(edit_form) }}
						
						  {{ form_row(edit_form.generalcycle) }}
						  
						  {{ form_row(edit_form.user) }}
						  
						  {{ form_row(edit_form.cdp) }}
						  
						  {{ form_row(edit_form.midyear) }}
						  
						  {{ form_row(edit_form.endyear) }}
						  
						  <div class="margin-top-40">
						  
						  {{ form_widget(edit_form.submit) }}
						  
						  <a href="{{ path('feedbackcycle') }}" class="btn btn-default btn-cons"> Back </a>
						  
						  </div>
							
						  <!-- {{ form(delete_form) }} -->
						
						{{ form_end(edit_form) }}

						
							
					

			</div>
		</div>
	</div>
</div>






{% endblock %}



