{% extends 'IntoPeopleDatabaseBundle:Endyear:show.html.twig' %} 
{% block comment -%}

<div class="row margin-top-50">
	<div class="col-md-12">


				<h3>Comments from supervisor</h3>

                {{ form_start(form) }}
				
                    {{ form_row(form.commentSup) }}
           
                    {{ form_row(form.feedbackdate) }}
        
                    {{ form_widget(form.save) }} {{ form_widget(form.approve) }} {{ form_widget(form.disapprove) }}
				
				{{ form_end(form) }}



	</div>
</div>

{% endblock %}


