{% extends 'IntoPeopleDatabaseBundle:Midyear:show.html.twig' %} 
{% block comment -%}

    <h3>Comments from supervisor</h3>

    <div class="row">

        <div class="col-md-6">

            <div class="panel panel-default">

                <!-- <div class="panel-heading">
                    <h3 class="panel-title">Comments from supervisor</h3>
                </div> -->

                <div class="panel-body">

                    {{ form_start(form) }}

                    {{ form_row(form.feedbackdate) }}

                    {{ form_row(form.commentSup) }}

                    {{ form_widget(form.save) }} {{ form_widget(form.approve) }} {{ form_widget(form.disapprove) }}

                    {{ form_end(form) }}

                </div>
            </div>


        </div>
    </div>



{% endblock %}


