{% extends '::base.html.twig' %} 
{% block body -%}
<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<div id="portlet-config" class="modal hide">
	<div class="modal-header">
		<button data-dismiss="modal" class="close" type="button"></button>
		<h3>Widget Settings</h3>
	</div>
	<div class="modal-body">Widget settings form goes here</div>
</div>
<div class="clearfix"></div>
<div class="container">
	<div class="content">

		<div class="page-title">
			<i class="icon-custom-left"></i>
			<h3>
				  Feedback<span class="semi-bold">cycles</span>
			</h3>
		</div>

		<div class="row">
			<div class="col-md-12">
			
			            {% for flashMessage in app.session.flashbag.get('success') %}
						                      
		                  <div class="alert alert-success">
                            <button class="close" data-dismiss="alert"></button>
                            {{ flashMessage }}
                        </div>	
                        
		                {% endfor %}



						<table class="table no-more-tables">
							<thead>
								<tr>
									<th>Name</th>
									<th>CDP</th>
									<th>Mid Year</th>
									<th>End Year</th>
								</tr>
							</thead>
							<tbody>
								{% for entity in entities %}
								<tr>
									<td>{{ entity.person.firstname }} {{ entity.person.lastname }}</td>
									
									{% if entity.cdp.formstatus.id == 1 %}

									       <td>{{ entity.cdp.formstatus.name }}</td>
                                    {% elseif entity.cdp.formstatus.id == 2 %}
									       <td>{{ entity.cdp.formstatus.name }}</td>
                                    {% elseif entity.cdp.formstatus.id == 3 %}
									       <td><a href="{{ path('supervisor_addComment',{'id' : entity.cdp.id}) }}">{{ entity.cdp.formstatus.name }}</a></td>
                                    {% elseif entity.cdp.formstatus.id == 4 %}
									       <td>{{ entity.cdp.formstatus.name }}</td>
                                    {% elseif entity.cdp.formstatus.id == 5 %}
									       <td>{{ entity.cdp.formstatus.name }}</td>
									{% elseif entity.cdp.formstatus.id == 6 %}
									       <td>{{ entity.cdp.formstatus.name }}</td>
									{% elseif entity.cdp.formstatus.id == 7 %}
									       <td>{{ entity.cdp.formstatus.name }}</td>
									{% elseif entity.cdp.formstatus.id == 8 %}
									       <td><a href="{{ path('cdp_show',{'id' : entity.cdp.id}) }}">{{ entity.cdp.formstatus.name }}</td>
								    {% endif %}
									
									
									{% if entity.midyear.formstatus.id == 3 %}
									<td><a href="{{ path('supervisor_addMidyearComment',{'id' : entity.midyear.id}) }}">{{ entity.midyear.formstatus.name }}</a></td>
									{% elseif entity.midyear.formstatus.id == 8 %}
									       <td><a href="{{ path('midyear_show',{'id' : entity.midyear.id}) }}">{{ entity.midyear.formstatus.name }}</td>
									 {% else %}
									 <td>{{ entity.midyear.formstatus.name }}</td>
									 {% endif %}
									 
									 
									 
									{% if entity.endyear.formstatus.id == 3 %}
									<td><a href="{{ path('supervisor_addEndyearComment',{'id' : entity.endyear.id}) }}">{{ entity.endyear.formstatus.name }}</a></td>
									{% elseif entity.endyear.formstatus.id == 8 %}
									       <td><a href="{{ path('endyear_show',{'id' : entity.endyear.id}) }}">{{ entity.endyear.formstatus.name }}</td>
									{% else %}
									<td>{{ entity.endyear.formstatus.name }}</td>
									{% endif %}
									
									
									<!-- AANPASSEN + DETAIL IS NIET NODIG? -->
										<!-- <td> <ul>
											<li><a
												href="{{ path('feedbackcycle_show', { 'id': entity.id }) }}">show</a>
											</li>
											<li><a
												href="{{ path('feedbackcycle_edit', { 'id': entity.id }) }}">edit</a>
											</li>
										</ul></td> -->
									
								</tr>
								{% endfor %}
							</tbody>
						</table>



			</div>
		</div>
	</div>
</div>






{% endblock %}


