{% extends '::base.html.twig' %} {% block body -%}
<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<div id="portlet-config" class="modal hide">
	<div class="modal-header">
		<button data-dismiss="modal" class="close" type="button"></button>
		<h3>Widget Settings</h3>
	</div>
	<div class="modal-body">Widget settings form goes here</div>
</div>
<div class="clearfix"></div>
<div class="container">
	<div class="content">

		<div class="page-title">
			<i class="fa fa-gears"></i>
			<h3>
				<span class="semi-bold">Generalcycles</span>
			</h3>
		</div>
		
		<ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#activecycle">Active generalcycle</a></li>
            <li><a href="#finished">Finished generalcycles</a></li>
            <li><a href="#inactive">Inactive generalcycles</a></li>
          </ul>
	
        <div class="tab-content">
        
            <div class="tab-pane active" id="activecycle">
            
        
		{% if entity != null %}
		
		<div class="row margin-top-30">
			<div class="col-md-4">
			

				<h3>CDP</h3>
                
                
                <p class="margin-top-30">Start date</p>
                
                <p class="bold">{{ entity.startdatecdp | date('Y-m-d') }}</p>
                
                <p>End date</p>
			    
			    <p class="bold">{{ entity.enddatecdp | date('Y-m-d')}}</p>
                              
                

			</div>

			<div class="col-md-4">

				<h3>Mid Year</h3>
				
				<p class="margin-top-30">Start date</p>
								
				<p class="bold">{{ entity.startdatemidyear | date('Y-m-d') }}</p>
			    
			    <p>End date</p>
			    
			    <p class="bold">{{ entity.enddatemidyear | date('Y-m-d')}}</p>
			    
				
				
				


			</div>

			<div class="col-md-4">

				<h3>Year End</h3>
				
				<p class="margin-top-30">Start date</p>
				
				<p class="bold">{{ entity.startdateyearend | date('Y-m-d') }}</p>
			    
			    <p>End date</p>
			    
			    <p class="bold">{{ entity.enddateyearend | date('Y-m-d')}}</p>
				

			</div>
		</div>
		
		<div class="row margin-top-30">
		<div class="col-md-12">
		
		<a href="{{ path('generalcycle_new') }}" type="button" class="btn btn-primary btn-cons">New Cycle</a>
		<a href="{{ path('generalcycle_edit',{'id' : entity.id}) }}" class="btn btn-default btn-cons" type="button">Edit</a>
		
		</div>
            </div>

            {% else %}
            
            <p>There is no current cycle, would you like to create one?</p>
            
            <p>
							<a href="{{ path('generalcycle_new') }}" type="button"
								class="btn btn-primary btn-cons">New Generalcycle </a>
						</p>
            
            {% endif %}

            </div>



		

        <div class="tab-pane" id="finished">
		
		{% if finished != null %}

		<div class="row">
			<div class="col-md-12">
				


						<h3>
							Finished <span class="semi-bold">Generalcycles</span>
						</h3>

						<p></p>


						<table class="table">
							<thead>
								<tr>
									<th>Started by</th>
									<th>Start date</th>
									<th>Year</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for entity in finished %}
								<tr>
									<td>{{ entity.startedby }}</td>
									<td>{% if entity.startdate %}{{ entity.startdate|date('d-m-Y') }}{% endif %}</td>
									<td>{{ entity.year }}</td>
									<td>
									
									<a href="{{ path('generalcycle_show', { 'id': entity.id }) }}" class="btn btn-default btn-cons" type="button">show</a> 
									
									<a href="{{ path('generalcycle_edit', { 'id': entity.id }) }}" class="btn btn-default btn-cons" type="button">edit</a>
									
									</td>
									
								</tr>
								{% endfor %}
							</tbody>
						</table>




			</div>
		</div>

		{% endif %}
		
		</div>
		
		<div class="tab-pane" id="inactive">
		
		{% if inactive != null %}

		<div class="row">
			<div class="col-md-12">
				


						<h3>
							Inactive <span class="semi-bold">Generalcycles</span>
						</h3>

						<p></p>


						<table class="table">
							<thead>
								<tr>
									<th>Started by</th>
									<th>Start date</th>
									<th>Year</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for entity in inactive %}
								<tr>
									<td>{{ entity.startedby }}</td>
									<td>{% if entity.startdate %}{{ entity.startdate|date('d-m-Y') }}{% endif %}</td>
									<td>{{ entity.year }}</td>
									<td>
									
									<a href="{{ path('generalcycle_show', { 'id': entity.id }) }}" class="btn btn-default btn-cons" type="button">show</a> 
									
									<a href="{{ path('generalcycle_edit', { 'id': entity.id }) }}" class="btn btn-default btn-cons" type="button">edit</a>
									
									</td>
									
								</tr>
								{% endfor %}
							</tbody>
						</table>




			</div>
		</div>

		{% endif %}
		</div>

            
        </div>
	</div>
</div>

{% endblock %}

{% block documentReady %}

   $('#myTab a').click(function (e) {
	e.preventDefault();
	$(this).tab('show');
});


{% endblock %}
