{% extends '::base.html.twig' %} 
{% block body -%}


    {% set devneeds = entity.developmentneeds %}
    {% set template = entity.endyeartemplate %}
    {% set cdp = entity.feedbackcycle.cdp %}

    <h2 class="text-center">{{ "endyear.show.title" | trans }}</h2>


    {% if entity.formstatus.id > 3 %}

        <div class="row margin-top-50">
            <div class="col-md-6">

                <h3>Comments supervisor</h3>

                {{ entity.commentSup }}

            </div>
        </div>

    {% endif %}

    {% if entity.formstatus.id > 5 %}

        <div class="row margin-top-50">
            <div class="col-md-6">

                <h3>Feedback HR</h3>

                {{ entity.feedbackHR }}

            </div>
        </div>

    {% endif %}

    <div class="row">
        <div class="col-md-12">

            <h3>Personalia</h3>

            <div class="row">

                <div class="col-md-6">

                    <table class="table borderless">

                        <tr>
                            <th>Name:
                            <th>
                            <td>{{ app.user.firstname }} {{ app.user.lastname }}</td>
                        </tr>

                        {% if app.user.supervisor != null %}
                            <tr>
                                <th>Supervisor:
                                <th>
                                <td>{{ app.user.supervisor.firstname }} {{ app.user.supervisor.lastname }}</td>
                            </tr>
                        {% endif %}

                        <tr>
                            <th>Date discussion:
                            <th>
                            <td></td>
                        </tr>

                    </table>

                </div>

                <div class="col-md-6">

                    <table class="table borderless">

                        <tr>
                            <th>Team:<th>
                            <td></td>
                        </tr>


                        <tr>
                            <th>Functie:<th>
                            <td></td>
                        </tr>

                    </table>

                </div>

            </div>



        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <h3>{# template.selfassesment #}</h3>

            <p class="">{# template.selfassesmentDescription #}</p>


            <table class="table borderless">
                <tr>
                    <th style="width: 20%">Talents</th>
                    <th style="width: 20%">Challenges</th>
                    <th style="width: 20%">How</th>
                    <th style="width: 20%">Success</th>
                    <th style="width: 20%">Needs</th>
                </tr>

                <tr>
                    <td>
                        <p>{{ cdp.coreQuality1 }}</p>
                        <p>{{ cdp.coreQuality1Why }}</p>
                    </td>
                    <td>
                        <p>{{ cdp.challenge1 }}</p>
                        <p>{{ cdp.challengeWhy1 }}</p>
                    </td>
                    <td>{{ cdp.challengeHow1 }}</td>
                    <td>{{ cdp.challengeSuccess1 }}</td>
                    <td>{{ cdp.challengeNeeds1 }}</td>
                </tr>

                <tr>
                    <td>
                        <p>{{ cdp.coreQuality2 }}</p>
                        <p>{{ cdp.coreQuality2Why }}</p>
                    </td>
                    <td>
                        <p>{{ cdp.challenge2 }}</p>
                        <p>{{ cdp.challengeWhy2 }}</p>
                    </td>
                    <td>{{ cdp.challengeHow2 }}</td>
                    <td>{{ cdp.challengeSuccess2 }}</td>
                    <td>{{ cdp.challengeNeeds2 }}</td>
                </tr>

                <tr>
                    <td>
                        <p>{{ cdp.coreQuality3 }}</p>
                        <p>{{ cdp.coreQuality3Why }}</p>
                    </td>
                    <td>
                        <p>{{ cdp.challenge3 }}</p>
                        <p>{{ cdp.challengeWhy3 }}</p>
                    </td>
                    <td>{{ cdp.challengeHow3 }}</td>
                    <td>{{ cdp.challengeSuccess3 }}</td>
                    <td>{{ cdp.challengeNeeds3 }}</td>
                </tr>

                <tr>
                    <td>
                        <p>{{ cdp.coreQuality4 }}</p>
                        <p>{{ cdp.coreQuality4Why }}</p>
                    </td>
                    <td>
                        <p>{{ cdp.challenge4 }}</p>
                        <p>{{ cdp.challengeWhy4 }}</p>
                    </td>
                    <td>{{ cdp.challengeHow4 }}</td>
                    <td>{{ cdp.challengeSuccess4 }}</td>
                    <td>{{ cdp.challengeNeeds4 }}</td>
                </tr>

                <tr>
                    <td>
                        <p>{{ cdp.coreQuality5 }}</p>
                        <p>{{ cdp.coreQuality5Why }}</p>
                    </td>
                    <td>
                        <p>{{ cdp.challenge5 }}</p>
                        <p>{{ cdp.challengeWhy5 }}</p>
                    </td>
                    <td>{{ cdp.challengeHow5 }}</td>
                    <td>{{ cdp.challengeSuccess5 }}</td>
                    <td>{{ cdp.challengeNeeds5 }}</td>
                </tr>

            </table>

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">


            {{ form_start(form) }}

            {{ form_errors(form) }}


            <h3>Development needs for your job</h3>

            <p>Read your job description carefully. </p>

            <table class="table borderless">

                <thead>
                <tr>
                    <th style="width:40%" colspan="2">{{ template.whatWhy }}</th>
                    <th style="width:60%">{{ template.evaluation }}</th>

                </tr>
                </thead>

                <tbody>

                <tr>
                    <td colspan="2">{{ template.whatWhyDescription }}</td>
                    <td>{{ template.evaluationDescription }}</td>
                </tr>

                <tr>
                    <td colspan="5"><h5 class="text-center">{{ template.tasks }}</h5></td>
                </tr>


                <tr>
                    <td colspan="2">{{ devneeds.task1 }}</td>
                    <td>{{ form_errors(form.evaluationtask1) }}
                        {{ form_widget(form.evaluationtask1) }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.task2 }}</td>
                    <td>{{ form_errors(form.evaluationtask2) }}
                        {{ form_widget(form.evaluationtask2) }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.task3 }}</td>
                    <td>{{ form_errors(form.evaluationtask3) }}
                        {{ form_widget(form.evaluationtask3) }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.task4 }}</td>
                    <td>{{ form_errors(form.evaluationtask4) }}
                        {{ form_widget(form.evaluationtask4) }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.task5 }}</td>
                    <td>{{ form_errors(form.evaluationtask5) }}
                        {{ form_widget(form.evaluationtask5) }}</td>

                </tr>

                <tr>
                    <td colspan="5"><h5 class="text-center">{{ template.skills }}</h5></td>
                </tr>

                <tr>
                    <th style="width:40%" colspan="2">{{ template.whatWhy }}</th>
                    <th style="width:60%">{{ template.evaluation }}</th>

                </tr>


                <tr>
                    <td colspan="2">{{ devneeds.skill1 }}</td>
                    <td>{{ form_errors(form.evaluationskill1) }}
                        {{ form_widget(form.evaluationskill1) }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.skill2 }}</td>
                    <td>{{ form_errors(form.evaluationskill2) }}
                        {{ form_widget(form.evaluationskill2) }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.skill3 }}</td>
                    <td>{{ form_errors(form.evaluationskill3) }}
                        {{ form_widget(form.evaluationskill3) }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.skill4 }}</td>
                    <td>{{ form_errors(form.evaluationskill4) }}
                        {{ form_widget(form.evaluationskill4) }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.skill5 }}</td>
                    <td>{{ form_errors(form.evaluationskill5) }}
                        {{ form_widget(form.evaluationskill5) }}</td>

                </tr>


                <tr>
                    <td colspan="5"><h5 class="text-center">{{ template.organizationField }}</h5></td>
                </tr>

                <tr>
                    <th style="width:40%" colspan="2">{{ template.whatWhy }}</th>
                    <th style="width:60%">{{ template.evaluation }}</th>

                </tr>


                <tr>
                    <td>{{ devneeds.OrganizationCompetence1 }}</td>
                    <td>{{ devneeds.OrganizationDescription1 }}</td>

                    <td>{{ form_errors(form.evaluationorganization1) }}
                        {{ form_widget(form.evaluationorganization1) }}</td>

                </tr>

                <tr>
                    <td>{{ devneeds.OrganizationCompetence2 }}</td>
                    <td>{{ devneeds.OrganizationDescription2 }}</td>

                    <td>{{ form_errors(form.evaluationorganization2) }}
                        {{ form_widget(form.evaluationorganization2) }}</td>

                </tr>

                <tr>
                    <td>{{ devneeds.OrganizationCompetence3 }}</td>
                    <td>{{ devneeds.OrganizationDescription3 }}</td>

                    <td>{{ form_errors(form.evaluationorganization3) }}
                        {{ form_widget(form.evaluationorganization3) }}</td>

                </tr>

                <tr>
                    <td>{{ devneeds.OrganizationCompetence4 }}</td>
                    <td>{{ devneeds.OrganizationDescription4 }}</td>

                    <td>{{ form_errors(form.evaluationorganization4) }}
                        {{ form_widget(form.evaluationorganization4) }}</td>

                </tr>

                <tr>
                    <td>{{ devneeds.OrganizationCompetence5 }}</td>
                    <td>{{ devneeds.OrganizationDescription5 }}</td>

                    <td>{{ form_errors(form.evaluationorganization5) }}
                        {{ form_widget(form.evaluationorganization5) }}</td>

                </tr>


                </tbody>


            </table>


            <h3>Feedback for your organization</h3>

            <p></p>

            {{ form_errors(form.feedbackorganization1) }}
            {{ form_widget(form.feedbackorganization1) }}

            <p></p>

            {{ form_errors(form.feedbackorganization2) }}
            {{ form_widget(form.feedbackorganization2) }}

            <p></p>

            {{ form_errors(form.feedbackorganization3) }}
            {{ form_widget(form.feedbackorganization3) }}

            <p></p>

            {{ form_errors(form.feedbackorganization4) }}
            {{ form_widget(form.feedbackorganization4) }}


            <div class="margin-top-30">{{ form_widget(form.save) }} {{ form_widget(form.saveAndAdd) }}
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default btn-cons" type="button"> Back
                    to the list </a></div>

            {{ form_end(form) }}


        </div>
    </div>


{% endblock %}

