{% extends '::base.html.twig' %} 
{% block body -%}


    {% set devneeds = entity.developmentneeds %}
    {% set cdp = entity.feedbackcycle.cdp %}

    <h2>{{ template.mainTitle }}</h2>

    <div class="row">
        <div class="col-md-12">

            <h3>{{ template.title1 }}</h3>

            <div class="row">

                <div class="col-md-6">

                    <table class="table borderless">

                        <tr>
                            <th>{{ template.name }}:
                            <th>
                            <td>{{ entity.feedbackcycle.user.firstname }} {{ entity.feedbackcycle.user.lastname }}</td>
                        </tr>

                        {% if entity.supervisor != null %}
                            <tr>
                                <th>{{ template.supervisor }}:
                                <th>
                                <td>{{ entity.supervisor.firstname }} {{ entity.supervisor.lastname }}</td>
                            </tr>
                        {% endif %}

                        <tr>
                            <th>{{ template.dateDiscussion }}:
                            <th>
                            <td>{{ entity.feedbackdate | localizeddate('medium', 'none', app.request.locale ) }}</td>
                        </tr>

                    </table>

                </div>

                <div class="col-md-6">

                    <table class="table borderless">

                        <tr>
                            <th>{{ template.team }}:
                            <th>
                            <td>{{ entity.feedbackcycle.user.team }}</td>
                        </tr>


                        <tr>
                            <th>{{ template.function }}:
                            <th>
                            <td>{{ entity.feedbackcycle.user.jobtitle }}</td>
                        </tr>

                    </table>

                </div>

            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <h3>{{ template.title2 }}</h3>

            <p class=""><em>{{ template.title2Description }}</em></p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">


            <table class="table borderless">
                <tr>
                    <th style="width: 20%">{{ template.table2Col1 }}</th>
                    <th style="width: 20%">{{ template.table2Col2 }}</th>
                    <th style="width: 20%">{{ template.table2Col3 }}</th>
                </tr>

                <tr>
                    <td>{{ template.table2Col1Descr }}</td>
                    <td>{{ template.table2Col2Descr }}</td>
                    <td>{{ template.table2Col3Descr }}</td>
                </tr>

                <tr>
                    <td>
                        <p>{{ cdp.coreQuality1 }}</p>

                        <p>{{ cdp.coreQuality1Why }}</p>
                    </td>
                    <td>
                        <p>{{ cdp.challenge1 }}</p>

                        <p>{{ cdp.challengeWhy1 }}</p>
                    </td>
                    <td>{{ entity.progressChallenge1 }}</td>
                </tr>

                <tr>
                    <td>
                        <p>{{ cdp.coreQuality2 }}</p>

                        <p>{{ cdp.coreQuality2Why }}</p>
                    </td>
                    <td>
                        <p>{{ cdp.challenge2 }}</p>

                        <p>{{ cdp.challengeWhy2 }}</p>
                    </td>
                    <td>{{ entity.progressChallenge2 }}</td>
                </tr>

                <tr>
                    <td>
                        <p>{{ cdp.coreQuality3 }}</p>

                        <p>{{ cdp.coreQuality3Why }}</p>
                    </td>
                    <td>
                        <p>{{ cdp.challenge3 }}</p>

                        <p>{{ cdp.challengeWhy3 }}</p>
                    </td>
                    <td>{{ entity.progressChallenge3 }}</td>
                </tr>

                {% if cdp.coreQuality4 != null %}

                    <tr>
                        <td>
                            <p>{{ cdp.coreQuality4 }}</p>

                            <p>{{ cdp.coreQuality4Why }}</p>
                        </td>
                        <td>
                            <p>{{ cdp.challenge4 }}</p>

                            <p>{{ cdp.challengeWhy4 }}</p>
                        </td>
                        <td>{{ entity.progressChallenge4 }}</td>
                    </tr>

                {% endif %}

                {% if cdp.coreQuality5 != null %}

                    <tr>
                        <td>
                            <p>{{ cdp.coreQuality5 }}</p>

                            <p>{{ cdp.coreQuality5Why }}</p>
                        </td>
                        <td>
                            <p>{{ cdp.challenge5 }}</p>

                            <p>{{ cdp.challengeWhy5 }}</p>
                        </td>
                        <td>{{ entity.progressChallenge5 }}</td>
                    </tr>

                {% endif %}

            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <h3>{{ template.title3 }}</h3>

            <p><em>{{ template.title3Description }}</em></p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table class="table borderless">

                <thead>
                <tr>
                    <th style="width: 50%" colspan="2">{{ template.table3Col1 }}</th>
                    <th style="width: 50%">{{ template.table3Col2 }}</th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td colspan="2">{{ template.table3Col1Descr }}</td>
                    <td>{{ template.table3Col2Descr }}</td>
                </tr>


                <tr>
                    <td colspan="3"><h5 class="text-center">{{ template.table3Title1 }}</h5></td>
                </tr>


                <tr>
                    <td colspan="2">{{ devneeds.task1 }}</td>
                    <td>{{ entity.evaluationtask1 }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.task2 }}</td>
                    <td>{{ entity.evaluationtask2 }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.task3 }}</td>
                    <td>{{ entity.evaluationtask3 }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.task4 }}</td>
                    <td>{{ entity.evaluationtask4 }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.task5 }}</td>
                    <td>{{ entity.evaluationtask5 }}</td>

                </tr>

                <tr>
                    <td colspan="3"><h5 class="text-center">{{ template.table3Title2 }}</h5></td>
                </tr>

                <tr>
                    <td colspan="2">{{ template.table3Col1Descr }}</td>
                    <td>{{ template.table3Col2Descr }}</td>

                </tr>


                <tr>
                    <td colspan="2">{{ devneeds.skill1 }}</td>
                    <td>{{ entity.evaluationskill1 }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.skill2 }}</td>
                    <td>{{ entity.evaluationskill2 }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.skill3 }}</td>
                    <td>{{ entity.evaluationskill3 }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.skill4 }}</td>
                    <td>{{ entity.evaluationskill4 }}</td>

                </tr>

                <tr>
                    <td colspan="2">{{ devneeds.skill5 }}</td>
                    <td>{{ entity.evaluationskill5 }}</td>

                </tr>


                <tr>
                    <td colspan="3"><h5 class="text-center">{{ template.table3Title3 }}</h5></td>
                </tr>

                <tr>
                    <td colspan="2">{{ template.table3Col1Descr }}</td>
                    <td>{{ template.table3Col2Descr }}</td>

                </tr>


                <tr>
                    <td>{{ devneeds.OrganizationCompetence1 }}</td>
                    <td>{{ devneeds.OrganizationDescription1 }}</td>

                    <td>{{ entity.evaluationorganization1 }}</td>

                </tr>

                <tr>
                    <td>{{ devneeds.OrganizationCompetence2 }}</td>
                    <td>{{ devneeds.OrganizationDescription2 }}</td>

                    <td>{{ entity.evaluationorganization2 }}</td>

                </tr>

                <tr>
                    <td>{{ devneeds.OrganizationCompetence3 }}</td>
                    <td>{{ devneeds.OrganizationDescription3 }}</td>

                    <td>{{ entity.evaluationorganization3 }}</td>

                </tr>

                <tr>
                    <td>{{ devneeds.OrganizationCompetence4 }}</td>
                    <td>{{ devneeds.OrganizationDescription4 }}</td>

                    <td>{{ entity.evaluationorganization4 }}</td>

                </tr>

                <tr>
                    <td>{{ devneeds.OrganizationCompetence5 }}</td>
                    <td>{{ devneeds.OrganizationDescription5 }}</td>

                    <td>{{ entity.evaluationorganization5 }} </td>

                </tr>


                </tbody>


            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">


            <h3>{{ template.title4 }}</h3>

            <p>{{ template.question1 }}</p>

            <p>{{ entity.feedbackorganization1 }}</p>


            <p>{{ template.question2 }}</p>

            <p>{{ entity.feedbackorganization2 }}</p>


            <p>{{ template.question3 }}</p>

            <p>{{ entity.feedbackorganization3 }}</p>


            <p>{{ template.question4 }}</p>

            <p>{{ entity.feedbackorganization4 }}</p>


        </div>
    </div>

    <div class="row">


        {% if entity.formstatus.id > 3 %}

            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-body">

                        <h3>Comments supervisor</h3>

                        {{ entity.commentSup }}
                    </div>
                </div>

            </div>

        {% else %}

            <div class="col-md-6">

                {% block comment %}
                {% endblock %}

            </div>

        {% endif %}

        {% if entity.formstatus.id > 5 %}

            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-body">

                        <h3>Feedback HR</h3>

                        {{ entity.feedbackHR }}

                    </div>
                </div>

            </div>

        {% else %}

            <div class="col-md-6">

                {% block feedback %}
                {% endblock %}

            </div>


        {% endif %}


    </div>

{% endblock %}

